<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">LifeType pLog</name> 
    <description lang="en">This module links the LifeType Blog into the student, instructor, and administrator sections of ATutor. Each course gets one blog, owned by the coruse instructor, that all students can post to. </description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
        <date>2005-12-23</date> 
        <state>stable</state> 
        <notes>pLog must be installed and functioning before installing this module. See the README_ATUTOR_MODULE file in the plog module directory for IMPORTANT additional information. Be sure to run *Update Blogs* after the installation is complete to import ATutor user and course information into the pLog database. Instructors should also be told to run their version of Update Blogs when they create a new courses, or when new students enroll in their courses.</notes> 
    </release> 
</module>