div.jb_head{
	float: left;
	width: 99%;
}
div.jb_add_posting{
	float: right;
	padding-right: 2em;
}
div.jb_search{
	width: 70%;
	float: left;
}

div.jb_login{
	width: 60%; 
	margin-left:auto; 
	margin-right:auto;
	border: 1px #CCCCCC solid;
	margin-bottom: 20px;
	line-height:150%;
	background-color: #F8F8F8;
	border-radius:.5em;
	-moz-border-radius: .5em .5em .5em .5em;
        -moz-box-shadow:.1em .1em .2em #999999;
        box-shadow: .1em .1em .2em #999999;
	padding:.2em;
}

fieldset.group_form{
	width:90%;
	margin:.5em;
	border:1px #6D7B8D solid;
   	min-height: 170px;
	padding:.5em;

} 
legend.group_form{
	border:1px #6D7B8D solid;
	background-color: #EEEEEE;
	font-weight: 600;
	color: black;
	padding-left: 1em;
	padding-right: 1em;
	border-radius:.2em;
	-moz-border-radius: .2em .2em .2em .2em;
		-moz-box-shadow:.1em .1em .1em #999999;
    box-shadow: .1em .1em .1em #999999;
}

textarea#jb_description{
	width: 99%;
	height: 600px;
}

div.jb_view_container{
	border:1px solid #cccccc;
	background-color:#eeffff;
	padding:1em;
	line-height:1.5em;
	margin-bottom:1em;
	border-radius: .5em .5em .5em .5em;
		-moz-border-radius: .5em .5em .5em .5em;
			-moz-box-shadow:.1em .1em .1em #999999;
		box-shadow: .1em .1em .1em #999999;
}
div.jb_view_container label{
	font-weight: bold;

}
div.jb_advance_search{
	margin-left: 5em;
	background: #eeeeee;
}
div.category_box{
	width: 40%;
	float: left;
}

/* add to cart template style */
div.add_to_cart{
	padding: 1em;
	background-color: #eeeeee;
	float:right;
}

/* admin styles */
div.admin_categories_container{
	width: 95%;
	margin: auto;
}
div.admin_categories{
	float: left;
	width: 100%;
}
div.admin_categories div.left{
	width: 40%;
	float: left;
}
div.admin_categories div.right{
	float: left;
}
