div.jb_head{
	float: left;
	width: 99%;
}
div.jb_add_posting{
	float: right;
}
div.jb_search{
	width: 70%;
	float: left;
}

div.jb_login{
	width: 60%;
	margin: 0 auto;
}
textarea#jb_description{
	width: 99%;
	height: 600px;
}
div.jb_view_container label{
	font-weight: bold;
}
div.jb_advance_search{
	margin-left: 5em;
	background: #eeeeee;
}