<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">WebCalendar</name> 
    <description lang="en">This module links the WebCalendar into the student, instructor, and administrator sections of ATutor.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
        <date>2005-12-23</date> 
        <state>stable</state> 
        <notes>WebCalendar must installed and functioning in group mode before installing this module. See the README_ATUTOR_MODULE file in the calendar module directory for additional installation, and other useful information. Be sure to run *Synchronize Databases* after the installation is complete to import ATutor user and course information into the WebCalendar database. Instructors should also be told to run their version of Synchronize Databases when they create a new courses, or when new students enroll in their courses.</notes> 
    </release> 
</module>