/*
This stylesheet is not being included because WebCalendar is in an iframe.  The CSS can be included as 
a custom stylesheet  by an admin, under System Settings, then choosing Edit then Custom script/stylesheet.
Be sure to include the opening and closing STYLE elements (commented out below) around the custom stylesheet.
*/


/*
<style type="text/css"> 
*/

table.standard{
	width:95%;
  	border: 1px solid #eeeeee;
	background-color:#ffffff;
}
th{
  	border: 1px solid #afafaf;
	background-color:#efefef;
}
div#tabscontent{
     width:95%;
  	border: 1px solid #afafaf;
}
div#tabscontent_settings{

     width:100%;
  	border: 1px solid #afafaf;
}
.tabbak{
	margin-top: 10px;
	font-family: Helevetica, Arial, sans-serif;
 	background: #efefef;
  	border: 1px solid #afafaf;
   	color: black;
	white-space:nowrap;
   	padding: 0em 1em 0em 1em;
   	display: inline;
	font-size: small;
	font-weight:normal;
	margin-left: 0px;
}
.tabfor{
	margin-top: 10px;
	font-family: Helevetica, Arial, sans-serif;
 	background: #ffffff;
  	border: 1px solid #afafaf;
   	color: black;
	white-space:nowrap;
   	padding: 0em 1em 0em 1em;
   	display: inline;
	font-size: small;
	font-weight:normal;
	margin-left: 0px;
}
input[type=submit]:hover {
	border: 1px solid #999;
	border-bottom:2px solid #999;
	border-right:2px solid #999;
	background-color: #eeeeee;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 50px;
	margin-left: 5px;	
}
input[type=submit] {
	border: 1px solid #999;
	border-bottom:2px solid #999;
	border-right:2px solid #999;
	background-color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 50px;
	margin-left: 5px;	
}
input[type=submit]:active {
	border: 1px solid #999;
	border-top:2px solid #999;
	border-left:2px solid #999;
	background-color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 50px;
	margin-left: 5px;	
}
input[type=text] {
	border: 1px solid #999;
	background-color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 100px;
	margin-left: 5px;	
}
select {
	border: 1px solid #999;
	background-color: white;
	padding: 2px;
	min-width: 100px;
	margin-left: 5px;	
}

input[type=button]:hover {
	border: 1px solid #999;
	border-bottom:2px solid #999;
	border-right:2px solid #999;
	background-color: #eeeeee;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 50px;
	margin-left: 5px;	
}
input[type=button] {
	border: 1px solid #999;
	border-bottom:2px solid #999;
	border-right:2px solid #999;
	background-color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 50px;
	margin-left: 5px;	
}
input[type=button]:active {
	border: 1px solid #999;
	border-top:2px solid #999;
	border-left:2px solid #999;
	background-color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 50px;
	margin-left: 5px;	
}

table.main{
	border: 1px solid #999;
	background-color: white;
}
table.admin{
	border: 1px solid #999;
	background-color: #eeeeee;
	font-weight: 600;
}

/*
</style>
*/