.fl-slider-vert{height:10em;width:.8em;}
.fl-slider-horz{width:10em;height:.8em;}
.fl-slider{position:relative;background-color:#ebebeb;padding:0;}
.fl-slider .fl-handle,.fl-slider a{position:absolute;display:block;background-color:#ccc;height:1.2em;width:1.2em;top:0;left:0;}
.fl-slider-vert .fl-handle,.fl-slider-vert a{margin-left:-0.2em;margin-top:-0.5em;}
.fl-slider-horz .fl-handle,.fl-slider-horz a{margin-top:-0.2em;margin-left:-0.5em;}
.fl-theme-hc .fl-slider{background-color:#000;}
.fl-theme-hc .fl-slider .fl-handle,.fl-theme-hc .fl-slider a,.fl-theme-hc .fl-slider a:hover{border:1px solid #000!important;background-color:#fff!important;}
.fl-theme-hci .fl-slider{background-color:#fff;}
.fl-theme-hci .fl-slider .fl-handle,.fl-theme-hci .fl-slider a,.fl-theme-hci .fl-slider a:hover{border:1px solid #fff!important;background-color:#000!important;}
.fl-theme-slate .fl-slider{background-color:#ccc;}
.fl-theme-slate .fl-slider .fl-handle,.fl-theme-slate .fl-slider a,.fl-theme-slate .fl-slider a:hover{border:1px solid #000;background-color:#999;}
.fl-theme-coal .fl-slider{background-color:#ccc;}
.fl-theme-coal .fl-slider .fl-handle,.fl-theme-coal .fl-slider a,.fl-theme-coal .fl-slider a:hover{border:1px solid #000;background-color:#999;}