<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.2"> 
    <name lang="en">EWiki</name> 
    <description lang="en">This is an almost verbatim copy of ErfurtWiki, with a set of ATutor module files, embedded in the ATutor environment as a fully integrated Wiki application.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.2</version> 
        <date>2005-08-22</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>