/* IE specific styles */

ul#topnavlist {
	zoom:100%;
	margin:0px;
	padding-top:.3em;
}

ul#topnavlist li {
	zoom:100%;

	display:inline;
}

label {
	zoom:100%;
	margin:0px;
}

table.data tfoot input {
	min-width:0px;
}

.buttons input[type=submit]{
	padding:.3em;
	width:auto;
	overflow:visible;
}
div#guide_box{
	*width:10em;

}
input.prefs_buttontab[type=submit]{
	*height:1.2em;	
}

.etabbed-list-container{
	border-bottom:1px solid #DEECE2;
}
table.etabbed-table	{
	*table-layout:fixed;
	*margin-left:55px;

}
.etabbed-list{
	*padding-top:.5em;

}
ul.current_list{
      margin-left:0;
}

.tab-spacer{
	*width:10px;
}
ul#subnavlist {
	margin-bottom:.6em;
}
ul#subnavlist li {
	display:inline;
	margin-left:.5em;

}
.fl-force-right{
	*margin-top:-1.2em;
	*margin-right:.2em;
}
textarea#body_text{
	*width:600px;
}