div.flagdiv {
  float:left;
  padding-left:0.5em;
}

.floatleft {
  float:left;
}

div.assignment-detail {
  -moz-border-radius:0.3em 0.3em 0.3em 0.3em;
  background:none repeat scroll 0 0 #F7F7F7;
  margin:1em 1em 2em 2em;
  width:95%;
}