<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Gradebook</name> 
    <description lang="en">A Gradebook will be created for ATutor to manage test and assignment marks. It will allow instructorsto automatically gather scores from tests and quizzes taken through the ATutor Test Manager, and allow them to define external tests or assignments and manually record marks for those. It will allow students to view their marks for completed tests or assignments, list tests or assignments yet to be completed or yet to be marked, and print out a report of their marks.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
	<release> 
        <version>0.1</version> 
        <date>2008-05-27</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>