<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">TILE Search</name> 
    <description lang="en">An interface for searching the TILE (The Inclusive Learning Exchange) course repository.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
		<privileges>
			<instructor_privilege></instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2005-08-29</date> 
        <state>stable</state> 
        <notes>This is a standard module.  See http://barrierfree.ca/tile/ for more information on TILE.</notes> 
    </release> 
</module>