div.input-form {
	width: 90%; 
	max-width: 90%;
	margin-left:auto; 
	margin-right:auto;
	border: 1px solid #DEE7EC;
	margin-bottom: 20px;
}

div.input-form div.row h3 {
	margin-left: 0px;
}


div.input-form div.row {
	padding:8px;
}

div.input-form .footer {
	border-top: 1px solid #f0f0f0;
}

div.input-form p {
	margin-left: 0px;
}

div.input-form input {
	z-index: 2;
}
div.input-form textarea {
	border: 1px solid #999;
	width: 98%;
	background-color: white;
	padding: 2px;
	margin-right: 2px;
}

div.input-form textarea:focus {
	border:1px solid blue;
	background-color: white;
	padding: 2px;
}

div.input-form input[type=text], div.input-form input[type=password] {
	border: 1px solid #999;
	background-color: white;
	padding: 2px;
	max-width: 60%;
}

div.input-form input:focus {
	border: 1px solid blue;
	padding: 2px
}

div.input-form div.buttons {
	text-align: right;
	padding:8px;
}
div.input-form div.buttons input {
	border: 1px solid #999;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 100px;
	margin-left: 5px;
}
div.input-form div.buttons input:hover {
	background-color: #f5f5ff;
	border: 1px solid blue;
}