<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Google Talk</name> 
    <description lang="en">Adds Google Talk Instant messaging to an ATutor system.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
	<release> 
        <version>0.1</version> 
        <date>2005-08-22</date> 
        <state>stable</state> 
        <notes>Users must setup a google talk account before they can use this module.</notes> 
    </release> 
</module>