<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">TLE</name> 
    <description lang="en">This module integrates TLE into ATutor.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.3</version> 
        <date>2010-10-25</date> 
        <state>stable</state> 
        <notes>The Equlla URL and shared secret must be entered before it can be used.</notes> 
    </release> 
</module>