[submodule "mods/manage_multi"]
	path = mods/manage_multi
	url = git@github.com:atutor/manage_multi.git
[submodule "google_app"]
	path = google_app
	url = https://github.com/ankitbhatnagar2012/google_app.git
