/*
===========================================================================
eXe
Copyright 2007. eXelearning.
style sheet for default theme
see: http://exelearning.org/Creating_a_new_Style for more info on how
to modify this style for your needs.
===========================================================================
*/

#content-text {
   margin: 10px 20px 10px 20px;
   padding: 10px;
   color:#4d4d4d;
   background: #E0DFD8;
   border:thin solid grey;
}


a {
 color: #FF6600;
}

a:hover {
 color: #B34700;
}

/* --- Styles for the node/page titles --- */

p#nodeTitle { 
   color: #4d4d4d;
   font-size: 32px;
   letter-spacing: -1px;
   text-align:left;
   padding-right: 30px;
}

div#nodeDecoration {
   padding: 2px;
   border-bottom:0px;
   text-align:right;
}


/* --- iDevice Styles -- */


.emphasis0 {
    padding-bottom: 20px;
}


.emphasis1 {
   background-color: #FFF;
   border-bottom: 1px solid #9d9d9d;
   background-image:url(top_left_corner.gif); /* The left curve */
   background-position:top left;
   background-repeat:no-repeat;
   margin-bottom: 30px;
   text-align:left;
}


.iDevice p, .iDevice div.block {
   padding-left: 0px;
   line-height: 115% 
   text-align:left;
}


.iDevice li {
	list-style-position: outside;
}

.iDeviceTitle {
   color: #568D14;
   font-size: 24px;
   font-weight:bold;
   letter-spacing:-1px;
   background: #FFF; 
   padding-bottom: 0px;
   padding-right: 10px;
   margin-bottom: 0px;
   background-image:url(top_right_corner.gif);
   background-position:top right;
   background-repeat:no-repeat;
   top: 0;
} 

.emphasis0 .iDeviceTitle {
   color: #568D14;
   font-size: 24px;
   font-weight:bold;
   letter-spacing:-1px;
   vertical-align: top;
   background: transparent; 
   padding-bottom: 4px;
   padding-right: 10px;
   margin-bottom: 0px;
   background-image:none;
   background-position:top right;
   background-repeat:no-repeat;
 }

.iDevice_icon {
   margin-top: 0px;
   margin-left: 10px;
   padding-right: 10px;
   top: 0;
}

.iDevice_inner {
   color:#4d4d4d;
   background-color:#f2f2ef;
   padding: 10px;
   margin: 10px;
   margin-top: 12px;
   padding-top: 10px;
   background-image:none;
}

.emphasis0 .iDevice_inner {
   color:#4d4d4d;
   background-color:transparent;
   padding: 10px;
   margin: 10px;
   margin-top: 12px;
   padding-top: 10px;
}

/* styles for iDevices with Feedback and form buttons */

input.feedbackbutton {
	background: #DBE992;
}

p.reading_feedback {
   border: 1px dashed #ADADAD;
   background-color: #FFF;
}


/* styles for image with text iDevice */

.image_text { 
	border: 1px solid #9D9D9D;
	background: transparent;
	padding: 4px;
        margin: 0px 20px 4px 4px;
}

/* override definition on "fieldset#shortcuts" in themes style.css */

fieldset#shortcuts {
	float: right;
	background-color: #FEFDEF;
	border: 1pt solid #B8AE9C;
	margin: 0pt 20pt 5pt 5pt;
	padding-right: 10pt;
	padding-bottom: 5pt;
	padding-left: 10pt;
}

