<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">RSS Feeds</name> 
    <description lang="en">An instructor can set up RSS feeds to be displayed in a course's side menu.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
        <date>2005-10-17</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>