.fl-uploader { 
    width: 434px;
    position: relative;
    display: block;
    clear: both;
}

.fl-uploader-manually-degrade, .fl-uploader-manually-enhance {
    display: block;
    width: 434px;
    clear: both;
    float: none;
    text-align: center;
    padding: 1em;
}

/* Deprecated: fl-ProgEnhanced-*  */
.fl-ProgEnhance-basic div input {
    margin-top: 0.6em;
}
.fl-ProgEnhance-enhanced {
    display: none;
}
/* New Syntax: fl-progEnhanced-*  */
.fl-progEnhance-basic div input {
    margin-top: 0.6em;
}
 
.fl-progEnhance-enhanced {
    display: none;
}

.fl-uploader td, .fl-uploader th {
    border: none;
}

.fl-uploader table {
    border-collapse: separate;
    margin: 0;
}

.fl-uploader form {
    height: auto !important;
}

.fl-uploader button {
    background-color: #4F99D3;
    border-color: #2A3990;
    border-width: 1px;
    border-style: solid;
    font-weight: bolder;
    font-size: 1.06em;
    color: #FFF;
    height: 32px;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 1em;
    outline: none;
    cursor: pointer;
}

.fl-uploader button:focus, .fl-uploader button.focus {
    outline: 2px solid #142B8C;
}

.fl-uploader button:hover {
    background-color: #115F8F;
}

.fl-uploader button.fl-uploader-button-default {
    background-color: #74B74A;
    border-color: #006838;
}

.fl-uploader button.fl-uploader-button-default:hover {
    background-color: #519325;
    border-color: #142B8C;
}

.fl-uploader button.fl-uploader-button-cancel {
    background-color: #D03E4F;
    border-color: #BF1E2D;
}

.fl-uploader button.fl-uploader-button-cancel:hover {
    background-color: #9E182B;
    border-color: #142B8C;
}

.fl-uploader button.fl-uploader-dim {
    background-color: #999;
    border-color: #666666;
}

.fl-uploader button.fl-uploader-dim:hover {
    background-color: #999;
    border-color: #666666;
}

.fl-uploader button span.text-description {
    display: none;
}

.fl-uploader a.fl-uploader-browse {
    background-image: url(../images/add.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 5px center;
    padding: 4px 7px 4px 26px;
    border: none;
    white-space: nowrap;
    color: #427ABE;
    font-weight: normal;
    cursor: pointer;
}

html>body .fl-uploader a.fl-uploader-browse {
    padding: 3px 6px 3px 25px;
    border: 1px solid transparent;
}

.fl-uploader a.fl-uploader-browse:hover {
    border: 1px solid #CCC;
    background-color: #FFF;
}

.fl-uploader a.fl-uploader-browse:focus, .fl-uploader a.fl-uploader-browse.focus {
    outline: 2px solid #142B8C;
    background-color: #FFF;
}

.fl-uploader-browse-overlay {
    position: absolute;
    bottom: 50px;
    left: 325px;
    z-index: 7;
}

.fl-uploader-flash10-wrapper {
    position: relative;
    float: left;
}

/* FILE QUEUE TABLE STYLES */

/* caption */

.fl-uploader-queue-wrapper caption {
    display: none;
}

/* header rows */

.fl-uploader-queue-header {
    background-color: transparent;
    color: #666;
}

.fl-uploader-queue-header th { 
    text-align: left;
    font-size: 0.94em;
    font-weight: normal;
    padding: 6px;
}

/* footer rows */

.fl-uploader-queue-footer {
    position: relative;
    background-color: #E6E6E6;
    border: 1px solid #999;
}

.fl-uploader-queue-footer table { 
    width: 100%;
    position:relative;
    z-index:6;
}

.fl-uploader-queue-footer td {
    padding: 8px 6px;
    vertical-align: middle;
    font-size: 1.07em;
    font-weight: bolder;
    color: #666;
}

.fl-uploader-footer-buttons {
    text-align: right;
}

/* tbody */

.fl-scroller {
    display: block;
    position: relative;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #999;
}

.fl-scroller .fl-scroller-inner {
    position: relative;
    overflow: hidden;
}
        
.fl-uploader-queue {
    position: relative;
    font-size: 0.9em;
    color: #333;
    z-index: 6;
}

/* hidden from IE6 */
html>body .fl-uploader-queue {
    width: 100%;    
}

/* this style is here for debugging, if everything is working right the list items are focusable but the list not. */
.fl-uploader-queue:focus {
    border: 1px solid #142B8C;
}

.fl-uploader-queue tr:focus, .fl-uploader-queue tr.fl-uploader-file-focus {
    background-color: #FFF9DC;
}

.fl-uploader-queue tr {
    background-color: transparent;
}

/* second CSS selector is added only for IE6 */

.fl-uploader-queue tr.fl-uploader-file-state-ready:hover, .fl-uploader-queue tr.fl-uploader-file-hover  {
    background-color: #FFF9DC;
}

.fl-uploader-queue tr.fl-uploader-dim {
    color: #666;
}

.fl-uploader-queue td, .fl-uploader-queue th { 
    text-align: left;
    padding: 3px 6px;
    border-bottom: 1px solid #BBCFDC;
}

.fl-uploader-queue-wrapper .fl-uploader-file-name {
    width: 322px;
    overflow: hidden;
}

.fl-uploader-queue-wrapper .fl-uploader-file-size {
    text-align: right;
    width: 4em;
    white-space: nowrap;
}

.fl-uploader-queue .fl-uploader-file-action {
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background-color: transparent;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    outline: 0;
    padding: 0;
    margin: 0;
    outline: none;
}

.fl-uploader-queue .fl-uploader-file-action:hover {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: auto;
}

.fl-uploader-queue .fl-uploader-file-actions .fl-uploader-dim {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: auto;
}

.fl-uploader-queue .fl-uploader-file-action-remove {
    background-image: url(../images/remove.png);
    cursor: pointer !important;
}

.fl-uploader-queue .fl-uploader-file-action-remove:hover, .fl-uploader-queue tr.fl-uploader-file-state-ready:focus .fl-uploader-file-action-remove, .fl-uploader-queue tr.focus .fl-uploader-file-action-remove {
    border: 1px solid #CCC;
    background-color: #FFF;
}

.fl-uploader-queue .fl-uploader-file-action-remove:focus, .fl-uploader-queue .fl-uploader-file-action-remove.focus {
    background-color: #4F99D3;
    outline: none;
}

.fl-uploader-queue .fl-uploader-file-state-uploaded th, .fl-uploader-queue tr.fl-uploader-file-state-uploaded th, .fl-uploader-queue tr.focus th   {
    border-left: 4px solid #74B74A;
    color: #5E7A5E;
}

.fl-uploader-queue .fl-uploader-file-state-uploaded td {
    color: #5E7A5E;
}

.fl-uploader-queue .fl-uploader-file-state-uploaded .fl-uploader-file-action {
    background-image: url(../images/tick.png);
}

/* ERRORS
 * 
 */

.fl-uploader-queue .fl-uploader-file-state-error th {
    border-left: 4px solid #F5E392;
    background-color: #FCFBE6;
    border-bottom-width: 0;
}

.fl-uploader-queue .fl-uploader-file-state-error td {
    background-color: #FCFBE6;
    border-bottom-width: 0;
}

.fl-uploader-queue .fl-uploader-file-error td {
    background-color: #FCFBE6;
    border-left: 4px solid #F5E392;
    background-image: url(../images/error.png);
    background-position: 8px 2px;
    background-repeat: no-repeat;
    padding-bottom: 8px;
    padding-left: 32px;
}

.fl-uploader-queue-wrapper td.fl-uploader-file-actions, .fl-uploader-queue-wrapper th.fl-uploader-file-actions {
    white-space: nowrap;
    text-align: center;
}

.fl-uploader-queue td.fileStatus { 
    white-space: nowrap;
}

.fl-uploader-queue-wrapper .fl-uploader-browse-instructions {
    background-color: #F0F9FF;
    color: #666;
    text-align: center;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 6px;
}

.fl-uploader-btns {
    margin-top: 1em;
    text-align:right;
}

.fl-uploader-btns .fl-uploader-upload, .fl-uploader-btns .fl-uploader-resume,  .fl-uploader-btns .fl-uploader-pause {
    width: 8.4em;
}

.fl-uploader-btns .fl-uploader-done, .fl-uploader-btns .fl-uploader-cancel {
    width: 7.6em;
}

.fl-uploader-btns button {
    padding: 0;
}

button span.fl-uploader-button-text-hidden {
    display: none;
}

/* element states */

.fl-uploader-disabled, .fl-uploader-dim {
    cursor: auto; 
}

.fl-uploader-disabled {
    background-color: #CCC !important;
    border-color: #999 !important;
}

.fl-uploader-dim {
    opacity: 0.4;
    filter:alpha(opacity=40);
}

.fl-uploader-hidden {
    display: none;
}

.fl-uploader-hidden-templates {
    display: none;
}


/* PROGRESS */

.fl-uploader-file-progress, .fl-uploader-total-progress-okay, .fl-uploader-total-progress-errored {
    position: absolute;
    display: none;
    background-attachment: scroll;
    background-position: bottom left;
    background-repeat: repeat-x;
    overflow: hidden;
    left: 0;
    z-index:4;
}

.fl-uploader-file-progress {
    background-image: url('../images/gradient-file-green.png');
    background-color: #D1D6DD;
    border-right: 1px solid #9FCE7F;
    width:76%;
}

.fl-uploader-file-progress .fl-uploader-file-progress-text {
    display: none;
}

.fl-uploader-total-progress-okay, .fl-uploader-total-progress-errored {
    top: 0;
    height: 100%;
    width:76%;
} 

.fl-uploader-total-progress-okay {
    background-image: url('../images/gradient-total-green.png');
    border-right: 1px solid #9FCE7F;
    background-color: #BDBFC1;
}

.fl-uploader-total-progress-errored {
    background-image: url('../images/gradient-total-yellow.png');
    border-right: 1px solid #E8C81C;
    background-color: #F6ECA0;
}

/* Hidden SWF for Flash 9*/

.fl-uploader-flash9-container {
    overflow: hidden; 
    width: 1px; 
    height: 1px;
}

/* an alternative way to hide the Uploader because of a bug in Opera,
 * described in FLUID-2789 */
.hideUploaderForOpera {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
    padding: 0;
}
