/* Styles for IE on Windows */

#start-tabs ul {	
	margin-left: 0px;
}

#start-container form {
	margin-left:-30px;
}

.col-list {
	margin-bottom: 10px;
}

img {
	height:auto;
	width:auto;
}

/* editor */

#make-clip {
	margin-right:5px;
}

#in-info {
	width:6em;
	margin-top:-1em;
}

#out-info {
	margin-top:-1em;	
	width:6em;
}