<?xml version="1.0" encoding="UTF-8"?> 
<module version="0.1"> 
    <name lang="en">FlowPlayer</name> 
    <description lang="en">This module extends ATutor [media] tag to display .flv file with the built in flowplayer Flash player. No special permissions, tools tabs or icons are defined. Once installed just enter the path to a local flv file or URL to a remote flv file in between media tags.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
	<release> 
        <version>0.1</version> 
        <date>2009-08-22</date> 
        <state>stable</state> 
        <notes>The browser on linux OS may have problem accessing remote flv file. This module is only for ATutor 1.6.3+. For 1.6.3, please install patch 04 before enabling this module.</notes> 
    </release> 
</module>
