<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Google Search</name> 
    <description lang="en">Allows one to search Google and have the results displayed within ATutor.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
		<privileges>
			<instructor_privilege></instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2005-10-11</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>