<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">PHPDoc ATutor API Documentation</name> 
    <description lang="en">This module generates an API document for ATutor developers.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://www.phpdoc.org/</url> 
    <license>LGPL</license> 
	<release> 
        <version>0.2</version> 
        <date>2010-10-25</date> 
        <state>testing</state> 
        <notes>In php.ini , you may need to adjust the values of max_execution_time and memory_limit.</notes> 
    </release> 
</module>