div.input-form {
	width: 90%; 
	margin-left:auto; 
	margin-right:auto;
	border: thin #CCCCCC solid;
	margin-bottom: 20px;
	line-height:150%;
	background-color: #F8F8F8;

}

div.input-form div.row h3 {
	margin-left: 0px;
}


div.input-form div.row {
	background-color: #F8F8F8;
	padding:8px;
}

div.input-form .footer {
	border-top: 1px solid #F9F6F2;
}

div.input-form p {
	margin-left: 0px;
}

div.input-form input {
	z-index: 2;
}
div.input-form textarea {
	border: 1px solid #595241;
	width: 98%;
	padding: 2px;
	margin-right: 2px;
}
div.input-form input[type=text], div.input-form input[type=password] {
	border: 1px solid #595241;
	padding: 2px;
	max-width: 60%;
	background-color:white;
}

div.input-form textarea:focus, div.input-form  input[type=password]:focus, div.input-form  input[type=text]:focus{
	border:1px solid #A50707;
	background-color: #FFDAB9;
	padding: 2px;
}
div.input-form div.buttons {
	text-align: right;
	padding:8px;
}
div.input-form div.buttons input {
	background-color: #efefef;
	font-weight: normal;
	border:  #AAA  solid 1px;
}
