div.input-form {
	width: 90%; 
	margin-left:auto; 
	margin-right:auto;
	border: thin #CCCCCC solid;
	margin-bottom: 20px;
	line-height:150%;
	background-color: #F8F8F8;
	border-radius:.5em;
	-moz-border-radius: .5em .5em .5em .5em;
	padding:.2em;
}

div.input-form div.row h3 {
	margin-left: 0px;
}

div.input-form div.row {
	background-color: #F8F8F8;
	padding:8px;
}

/*<img> and <a> tags: on mouse hover the color of the background will keep the same!*/
div.input-form div.row img,a:hover{
    background-color:#F8F8F8;
}

div.input-form .footer {
	border-top: 1px solid #F9F6F2;
}

div.input-form p {
	margin-left: 0px;
}

div.input-form input {
	z-index: 2;
}
div.input-form textarea {
	border: 1px solid #595241;
	width: 98%;
	padding: 2px;
	margin-right: 2px;
}

div.input-form input[type=text], div.input-form input[type=password] {
	border: 1px solid #595241;
	padding: 2px;
	max-width: 60%;
	background-color:white;
}

div.input-form textarea:focus, div.input-form  input[type=password]:focus, div.input-form  input[type=text]:focus{
	border:1px solid #545454;
	background-color: #eeeeee;
	padding: 2px;
}

input[type=checkbox]{

	background-color: #FFDAB9;
}

div.input-form div.buttons {
	text-align: right;
	padding:8px;
}
div.input-form div.buttons input {
	background-color: #efefef;
	font-weight: normal;
	border:  #AAA  solid 1px;
}
.formfield:focus{
	background-color: #FFDAB9;
}

#ot:focus{
	background-color: #FFDAB9;
}

/*Added by Silvia*/
div.input-form div.row_alternatives {
	background-color: #F8F8F8;
	padding: 5px;
}

/* new in ATutor 2.0 */
input[type=text]{
	border-radius:.3em;
	-moz-border-radius: .3em .3em .3em .3em;

}
