/* IE specific styles */
.page_wrapper{

    /* For IE 8 */    
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999')";
     /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999');

}


ul#topnavlist {
	zoom:100%;
	margin:0px;
}

ul#topnavlist li {
	zoom:100%;
	padding:0.3em;
	margin:0px;
	margin-bottom:-3px;
	border-bottom:0;
}

label {
	zoom:100%;
	margin:0px;
}

table.data tfoot input {
	min-width:0px;

}
table.data {
	float:left;
	clear:right;
	margin-left:2em;

}
#topnavlistcontainer {
	margin-bottom:-1px;
}

#header{
	height: 5.0em;
margin-bottom:.1em;
}

div#top-links{

float:right;
}

div#top-links a:active{
	color:black;
	background-color:#F6EAD6;
}

.outside_box{
	height:9.6em;
}

ul#topnavlist {
	margin-left:5px;
	height:1.5em;

}
ul#topnavlist li {
	white-space: nowrap;
	list-style: none;
	display: inline;
	height:auto;
}
ul#topnavlist li a.selected {
    /* The selected tab. There's only one of these */
	color: #555;
	font-weight: normal;
	border-radius:.3em .3em 0em 0em;
	-moz-border-radius: .3em .3em 0em 0em;
	padding: .2em 1.8em .2em .1.8em;
}
ul#subnavlist li a:hover, ul#subnavlist li a:focus, ul#subnavlist li a.active, ul#subnavlist strong {
	margin-top:-3px;
	margin-right:1em;
}
ul#subnavlist li {
	zoom:100%;
	margin-top:3px;
	max-width:12em;
	margin-right:2em;
	display: inline;
}
fieldset.group_form{
	padding:.5em;
}
ul.folders {
	list-style: disc url(../../images/folder.gif) outside;
	font-family: Verdana, Helevetica, Arial, sans-serif;
	margin-bottom: 5em;;
	margin-top: 0px;
	margin-right: 0px;
}

li.folders .disabled {
	color: #B8AE9C;
}

.current_box{
	width:30%; 
float:left;
margin-left:3em;

}

ul.current_list{
      line-height:2em; 
      list-style-type:none;
      margin-left:0;
}

.outside_box{
    /* For IE 8 */    
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999')";
     /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999');

}

#top-links-jump{

	background-color:#eeeeee;
	padding-right:.5em;
}
div#top-links {
	white-space:nowrap;
	width:40%;
	float:right;
	clear:right;
	height:1.7em;
	padding-right: 5px;
	margin-right:20px;
	margin-top:0em;
}
#course_title_container{
margin-top:1em;
}
div#guide_box{
width:15%;

}
#shortcuts{

}
#side-menu ul{
width:18em;
padding-left:1em;
padding-right:2em;
}
/* the * prefix targets IE7, dangerous hack but necessary */
/* to target IE6 use _ and to target IE8 and below use a trailing \9 before the style's closing semicolon */
.fl-force-right{
*margin-top:-1.2em;
}
#contentcolumn {
overflow:hidden;
}
