/* IE specific styles */

ul#topnavlist {
	zoom:100%;
	margin:0px;
}

ul#topnavlist li {
	zoom:100%;
	padding:0.3em;
	padding-bottom:0.3em;
	margin:0px;
	margin-bottom:-3px;
}

label {
	zoom:100%;
	margin:0px;
}

table.data tfoot input {
	min-width:0px;
}

#topnavlistcontainer {
	margin-bottom:-1px;
}

#header{
	height: 7.2em;
}

div#top-links a:active{
	color:black;
	background-color:#F6EAD6;
}

.outside_box{
	height:9.6em;
}
ul#subnavlist li a {
	margin-right:-1em;
	font-size:8pt;
	border-left:none;
	border-right:none;
}
ul#subnavlist li a:hover, ul#subnavlist li a:focus, ul#subnavlist li a.active, ul#subnavlist strong {
	margin-right:-1em;
	font-size:8pt;
	border-left:none;
	border-right:none;

}
ul#subnavlist li {
	zoom:100%;
border-bottom:none;
}
