<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" type="text/css" href="../../../framework/fss/css/fss-reset-global.css" />
        <link rel="stylesheet" type="text/css" href="../../../framework/fss/css/fss-base-global.css" />
        <link rel="stylesheet" type="text/css" href="../../../framework/fss/css/fss-layout.css" />
        <link rel="stylesheet" type="text/css" href="../../../framework/fss/css/fss-text.css" />
        <link rel="stylesheet" type="text/css" href="../css/fss/fss-theme-bw-uio.css" />
        <link rel="stylesheet" type="text/css" href="../css/fss/fss-theme-wb-uio.css" />
        <link rel="stylesheet" type="text/css" href="../css/fss/fss-theme-by-uio.css" />
        <link rel="stylesheet" type="text/css" href="../css/fss/fss-theme-yb-uio.css" />
        <link rel="stylesheet" type="text/css" href="../css/fss/fss-text-uio.css" />
        
        <link rel="stylesheet" type="text/css" href="../../../lib/jquery/ui/css/fl-theme-bw/bw.css" />
        <link rel="stylesheet" type="text/css" href="../../../lib/jquery/ui/css/fl-theme-wb/wb.css" />    
        <link rel="stylesheet" type="text/css" href="../../../lib/jquery/ui/css/fl-theme-by/by.css" />
        <link rel="stylesheet" type="text/css" href="../../../lib/jquery/ui/css/fl-theme-yb/yb.css" />

        <link rel="stylesheet" type="text/css" href="../css/UIOptions.css" />
        <link rel="stylesheet" type="text/css" href="../css/FatPanelUIOptionsFrame.css" />

        <title>UI Options</title>
        <script type="text/javascript" src="../../../lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../lib/jquery/ui/js/jquery.ui.core.js"></script>
        <script type="text/javascript" src="../../../lib/jquery/ui/js/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="../../../lib/jquery/ui/js/jquery.ui.mouse.js"></script>
        <script type="text/javascript" src="../../../lib/jquery/ui/js/jquery.ui.slider.js"></script>        
        <script type="text/javascript" src="../../../lib/jquery/ui/js/jquery.ui.tabs.js"></script>  
        <script type="text/javascript" src="../../../lib/jquery/plugins/ariaTabs/js/ui.ariaTabs.js"></script>          
        <script type="text/javascript" src="../../../lib/json/js/json2.js"></script>

        <script type="text/javascript" src="../../../framework/core/js/FluidDocument.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/jquery.keyboard-a11y.js"></script>        
        <script type="text/javascript" src="../../../framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/FluidRequests.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/DataBinding.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/FluidIoC.js"></script>
        <script type="text/javascript" src="../../../lib/fastXmlPull/js/fastXmlPull.js"></script>
        <script type="text/javascript" src="../../../framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../framework/renderer/js/RendererUtilities.js"></script>
        <script type="text/javascript" src="../../tabs/js/Tabs.js"></script>

        <script type="text/javascript" src="../js/Store.js"></script>
        <script type="text/javascript" src="../js/UIEnhancer.js"></script>
        <script type="text/javascript" src="../js/UIOptions.js"></script>
        <script type="text/javascript" src="../js/SlidingPanel.js"></script>
        <script type="text/javascript" src="../js/FatPanelUIOptions.js"></script>

        <script type="text/javascript" src="../../tableOfContents/js/TableOfContents.js"></script>
    </head>

    <body class="fl-uiOptions-fatPanel">
        <div class="flc-toc-tocContainer fl-hidden">
        </div>
    </body>

</html>

