<form id="options" action="" class="fl-uiOptions fl-uiOptions-fullPreview">    
    <div class="fl-container-flex60 fl-force-left">

        <h2 class="fl-uiOptions-text-icon">Text and display</h2>
        <div class="flc-uiOptions-text-controls fl-uiOptions-category fl-uiOptions-text">
        </div>

        <h2 class="fl-uiOptions-layout-icon">Layout and navigation</h2>
        <div class="flc-uiOptions-layout-controls fl-uiOptions-category fl-uiOptions-layout">
        </div>

        <h2 class="fl-uiOptions-links-icon">Links and buttons</h2>
        <div class="flc-uiOptions-links-controls fl-uiOptions-category fl-uiOptions-links">
        </div class="fl-uiOptions-text-icon">
    </div>

    <div class="fl-container-flex35 fl-force-right">
        <div class="fl-uiOptions-preview">
            <h2>Preview your changes</h2>
            <iframe class="flc-uiOptions-preview-frame" src="" frameborder="0"></iframe>
        </div>
        <div class="fl-uiOptions-buttons">
            <input class="flc-uiOptions-save fl-uiOptions-save" type="button" value="Save and apply" />
            <input class="flc-uiOptions-reset" type="button" value="Reset" />
            <input class="flc-uiOptions-cancel fl-uiOptions-cancel" type="button" value="Cancel" />
        </div>                
    </div>
    
</form>                
