<form id="options" action="" class="fl-uiOptions fl-uiOptions-fullNoPreview fl-col-fixed-72em">    
    <div class="flc-uiOptions-controls">
	    <div class="fl-uiOptions-category fl-col-mixed-250">    		
			<h2 class="fl-col-fixed fl-force-left fl-uiOptions-text-icon">Text and display</h2>
            <div class="flc-uiOptions-text-controls fl-uiOptions-text fl-col-flex"></div>                                       		    		
    	</div>	    		    		
        
	    <div class="fl-uiOptions-category fl-col-mixed-250">
            <h2 class="fl-col-fixed fl-force-left fl-uiOptions-layout-icon">Layout and navigation</h2>        
            <div class="flc-uiOptions-layout-controls fl-uiOptions-layout fl-col-flex"></div>                   		
        </div>
            
	    <div class="fl-uiOptions-category fl-col-mixed-250">
            <h2 class="fl-col-fixed fl-force-left fl-uiOptions-links-icon">Links and buttons</h2>
            <div class="flc-uiOptions-links-controls fl-uiOptions-links fl-col-flex"></div>      		
        </div>
    </div>

    <div class="fl-text-align-center fl-uiOptions-buttons">
        <input class="flc-uiOptions-save fl-uiOptions-save" type="button" value="Save and applyAAA" />
        <input class="flc-uiOptions-reset" type="button" value="Reset and apply" />
        <input class="flc-uiOptions-cancel fl-uiOptions-cancel" type="button" value="Cancel" />
    </div>                
</form>                
