/* Safari specific styles */

#subnavlistcontainer{
margin-top:-1.33em;
}

ul.sequence-links {
padding:.6em;
}
#course-level-navigation{
margin-top:-3.5em;

}
#course-level-navigation a{
 padding: 0.27em 0.5em 0.35em 0.25em;

}