.fl-inlineEdit-edit{margin:-2px;padding:0;}
.fl-inlineEdit-tooltip{position:absolute;background:#CCC;border:1px solid #999;font:normal 75% sans-serif;padding:3px 5px;}
.fl-inlineEdit-invitation{border:1px solid #999;background:lightyellow;cursor:pointer;}