<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">phpMyAdmin</name> 
    <description lang="en">This module links the phpMyAdmin admistrator backend for the MySQL database into the administration section of ATutor.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.2</version> 
        <date>2010-10-25</date> 
        <state>stable</state> 
        <notes>phpMyAdmin must be installed in addition to the module installation. Once the module is installed, you will be asked to provide the URL of your phpMyAdmin installation. The default authentication method in phpMyAdmin is set to http. You can change this method in the config.inc.php file within phpMyAdmin. See instructions in the phpMyAdmin configuration file for other potential editable options.</notes> 
    </release> 
</module>