.fieldLabel {font-weight: bold; text-align: right; vertical-align: top;}
.fieldError {color: #660000;}.
.buttonBar {text-align: right; vertical-align: top;}
.input.text {width:275px;}

/*
.fieldError {color: #660000;}.fiyatext {font-size: 8pt; color: #333333;}
.fiyatitle {font-size: 9pt; color: #836B3E;}
.fiyatitle a {color: #836B3E; font-weight: bold; text-decoration: none;}
.fiyatitle a:hover {color: #660000; text-decoration: none;}
.fiyaheader {font-size: 11pt; color: #FFFFFF; font-weight: bold;}
.fiyaheadersub {font-size: 10pt; color: #FFFFFF; font-weight: bold;}
.footer {font-size: 11px; color: #CCBB82;}
.footer a {font-size: 11px; color: #EEEEEE; text-decoration: none;}
.footer a:hover {font-size: 11px; color: #FFFFFF; text-decoration: underline;}
.footer td {font-size: 11px; color: #CCBB82;}
.graytext {font-size: 8pt; color: #676767;}
.header1 {font-size: 14pt; font-weight: bold; color: #AAAAAA;}
.header2 {font-size: 10pt; font-weight: bold; color: #AAAAAA;}
.header2 a  {color: #AAAAAA; text-decoration: underline;}
.header2 a:hover {color: #101010; text-decoration: none;}

.hitlistextras a {color: #660000; }
.hitlistextras a:hover {color: #816B23;}
.hpdisc a {color: #660000; text-decoration: none;}
.hpdisc a:hover {color: #676767; text-decoration: underline;}
.hpdisc td {font-size: 8pt; color: #660000;}
.learnbold {font-size: 9pt; color: #FFFFFF;}
.learnbold a {color: #FFFFFF; font-weight: bold; text-decoration: none;}
.learnbold a:hover {color: #cccccc; text-decoration: none;}
.learnsmall {font-size: 7pt; color: #FFFFFF;}
.leftside a {color: #000000; text-decoration: none;}
.leftside a:hover {color: #777777; text-decoration: underline;}
.leftside td {font-size: 8pt; color: #000000; }
.leftsideshowmore a {color: #816B23; text-decoration: none; font-size: 8pt;} 
.leftsideshowmore a:hover {color: #660000; text-decoration: underline; font-size: 8pt;} 

.login {font-size: 11px;}
.materialadded {font-size: 8pt;}
.materialdescription {font-weight: bold; color: #333333;}
.materialtitle {font-size: 14pt; font-weight: bold; color: #333333;}
.peerreviewtitle {font-size: 12pt; font-weight: bold;}
.peerreviewtitle a {color: #660000;}
.peerreviewtitle a:hover {color: #816B23; text-decoration: none;}
.smalltext {font-size: 7pt;}

.rightside a {color: #660000;}
.rightside a:hover {color: #816B23;}
.rightside td {font-size: 8pt; background-color: #f7f7f7;}
.rightside2 a {color: #660000;}
.rightside2 a:hover {color: #816B23;}
.rightside2 td {font-size: 8pt; background-color: #fafafa;}
.rightside3 a {color: #660000;}
.rightside3 a:hover {color: #816B23;}
.rightside3 td {font-size: 8pt; background-color: #fafafa;}
.rightsideborder {background-color: #816B23;}
.rightsideborder2 {background-color: #9E883E;}
.rightsideborder3 {background-color: #BBA458;}

.centeredImage {vertical-align: middle;}

.search {font-size: 11px;}
.search a {font-size: 10px; color: #660000; text-decoration: none;}
.search a:hover {font-size: 10px; color: #816B23; text-decoration: underline;}
.search td {font-size: 11px;}

.whatsnewbold {color: #660000; font-weight: bold;}
.whatsnewheader {color: #000000;}
.whatsnewheader a {color: #000000; text-decoration: none;}
.whatsnewheader a:hover {color: #aaaaaa; text-decoration: underline;}
.whatsnew a {color: #676767; text-decoration: none;}
.whatsnew a:hover {color: #aaaaaa; text-decoration: underline;}
.whatsnew td {font-size: 8pt; color: #000000; }
.whatsnew {font-size: 8pt; color: #000000; }

.rightsidepartners {font-size: 8pt; color: #000000; }
.rightsidepartners a {color: #000000; text-decoration: none;}
.rightsidepartners a:hover {color: #aaaaaa; text-decoration: underline;}

.rightsideloginheader {font-size: 12px; font-weight: bold; color: #FFFFFF;}
.rightsideloginheader2 a {font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration:none;}
.rightsideloginheader2 a:hover {font-size: 10px; font-weight: bold; color: #CCCCCC; text-decoration:underline;}
.rightsidelogin a {font-size: 7pt; color: #816B23; text-decoration: none;}
.rightsidelogin a:hover {color: #660000; text-decoration: underline;}
.rightsidelogin td {font-size: 9pt; font-weight: bold; color: #660000;}
.rightsideloggedin a {font-size: 8pt; color: #000000; text-decoration: none;}
.rightsideloggedin a:hover {color: #777777; text-decoration: underline;}
.rightsideloggedin {font-size: 8pt; color: #660000;}
.rightsideloggedinbold {font-size: 8pt; font-weight: bold; color: #660000;}
.rightsidejoinnowHeader {font-size: 11pt; font-weight: bold; color: #660000;}
.rightsidejoinnowHeader2 {font-size: 8pt; font-weight: bold; color: #660000;}
.rightsidejoinnow {font-size: 8pt; color: #816B23;}
.rightsidejoinnowbold {font-size: 8pt; color: #816B23; font-weight: bold;}
.rightsidejoinnow a {font-weight: bold; font-size: 9pt; color: #816B23; text-decoration:none;}
.rightsidejoinnow a:hover {font-weight: bold; font-size: 9pt; color: #660000; text-decoration:underline;}

.rightsidecontributeheader {font-size: 12px; font-weight: bold; color: #FFFFFF;}
.rightsidecontributeheader2 {font-size: 9pt; color: #816B23; font-weight: bold;}
.rightsidecontribute {font-size: 7pt; font-weight: bold; color: #660000;}
.rightsidecontribute td {font-size: 7pt; font-weight: bold; color: #660000;}
.rightsidecontribute a {font-size: 7pt; color: #816B23; text-decoration: none;}
.rightsidecontribute a:hover {color: #660000; text-decoration: underline;}

.whitetext {font-size: 8pt; color: #FFFFFF; }
.whitetext a {color: #DDDDDD;}
.whitetext a:hover {color: #FFFFFF;}
a {color: #816B23;}
a.login  {font-size: 11px; color: #660000; text-decoration: underline;}
a.login:hover {font-size: 11px; color: #816B23; text-decoration: none;}
a:hover {color: #660000;}
body {font-family: Arial, Helvetica, sans-serif; font-size: 9pt;}
td {font-family: Arial, Helvetica, sans-serif; font-size: 9pt;}
.caption {color: #FFFFFF; background-color: #BBA458; font-weight: bold;}
.caption a {color: #FFFFFF; font-weight: normal;}
.caption-main {color: #FFFFFF; background-color: #660000; font-weight: bold;}
.caption-main a {color: #FFFFFF; font-weight: normal;}
.caption-main-white {font-size: 9pt; color: #FFFFFF;}
.caption-main-white a {color: #FFFFFF; font-weight: bold; text-decoration: none;}
.caption-main-white a:hover {color: #cccccc; font-weight:bold; text-decoration: none;}
.caption-sub {color: #FFFFFF; background-color: #BBA458; font-weight: bold;}
.caption-sub a {color: #660000; font-weight: bold; text-decoration: none;}
.caption-sub a:hover {color: #cccccc; font-weight: bold; text-decoration: none;}
.search-results {color: #101010; background-color: #EFEDCF; font-weight: bold;}
.search-results-header {background-color: #CCCCCC; color: #000000; font-weight: normal;text-align: right;}
.search-results a {color: #101010; font-weight: normal;}
.content {background-color: #FFFFFF; color: #000000; font-weight: normal}
.content a {color: #816B23;}
.content-table {background-color: #FFFFFF; color: #000000;}
.content-header {background-color: #AAAAAA; color: #000000; font-weight: bold;text-align: left; vertical-align: top;}
.content-header a {background-color: #AAAAAA; color: #606060; font-weight: bold;text-align: left; vertical-align: top;}
.content-odd {background-color: #FFFFFF; color: #000000; font-weight: normal; vertical-align: top;}
.content-odd a {color: #816B23;}
.content-even {background-color: #EEEEEE; color: #000000; font-weight: normal; vertical-align: top;}
.content-even a {color: #816B23;}
.content-no-data {background-color: #FFFFFF; color: #707070; font-weight: normal; font-style: italic; text-align: center; vertical-align: top;}
.content-action-row {padding-top: 0px; background-color: #FFFFFF; color: #000000; font-weight: bold; font-style: normal; vertical-align: top;}
.value-table {background-color: #FFFFFF; color: #000000; font-weight: normal; border: solid 1px #DDDDDD; border-collapse: collapse}
.value-header {background-color: #EEEEEE; color: #000000; font-weight: normal; text-align: left; vertical-align: top;}
.value-odd {background-color: #FFFFFF; color: #000000; font-weight: normal; vertical-align: top;}
.valuet-odd a {color: #816B23;}
.value-even {background-color: #FFFFFF; color: #000000; font-weight: normal; vertical-align: top;}
.value-even a {color: #816B23;}
.value-table {background-color: #FFFFFF; color: #000000; font-weight: normal; border: solid 1px #DDDDDD; border-collapse: collapse}
.value-header {background-color: #EEEEEE; color: #000000; font-weight: normal; text-align: left; vertical-align: top;}
.value-odd {background-color: #FFFFFF; color: #000000; font-weight: normal; vertical-align: top;}
.valuet-odd a {color: #816B23;}
.value-even {background-color: #FFFFFF; color: #000000; font-weight: normal; vertical-align: top;}
.value-even a {color: #816B23;}
.form {font-weight: normal; margin: 0px; border: 0px; padding: 0px; border-spacing: 8px;}
.form-instruction {padding: 10px; width: 450px;}
.atlernate-form {background-color: #EEEEEE;                                      border: solid 1px #CCCCCC; border-collapse: separate;                 border-spacing: 3px;                 padding: 6px 6px 6px 6px;}
.alternate-form-Label {font-weight: bold; text-align: left; vertical-align: top;                 padding: 6px 6px 12px 6px;}
.fieldLabel {font-weight: bold; text-align: right; vertical-align: top;}
.fieldCenteredLabel {font-weight: bold; text-align: right; vertical-align: middel;}
.field {text-align: left; vertical-align: top;}
.buttonBar {text-align: right; vertical-align: top;}
.detail {font-weight: normal; margin: 0px; border: 0px; padding: 0px; border-spacing: 8px;}
.detailLabel {font-weight: bold; text-align: right; vertical-align: top; color: #AAAAAA;}
hr {height: 1px; border: 0px; background-color: #AAAAAA; color: #AAAAAA;}
.wizardTab {font-weight: bold; text-align: left; margin: 0px; border: 0px; padding: 0px;}
.wizardTab-line1 {font-size: 8pt; vertical-align: top;}
.wizardTab-line2 {font-size: 7pt; vertical-align: top;}
.wizardTab-current {font-weight: bold; text-align: left; color: #000000; margin: 0px; border: 0px; padding: 0px;}
.wizardTab a:link {color: #816B23;}
     .wizardTab a:visited {color: #816B23;}
.wizardTab a:hover {color: #000000;}
.browse-left-table {background-color: #F4F4F4; color: #000000;                     font-weight: normal;                     border: solid 1px #CCCCCC; border-collapse: separate;                    border-spacing: 3px;                    padding: 0px;                    }
.browse-left-table-section-header {                    background-color: #CCCCCC; color: #660000;                    font-weight: bold;                    }
.browse-left-table td {padding: 3px 6px 3px 6px;}
.input {width:275px;}
*/

/* This is the style for the informational messages presented to the user */

div.error, div.message {    background: #ffc;    border: 1px solid #000;    color: #000000;    font-family: Arial, Helvetica, sans-serif;    font-size: 0.9em;    font-weight: normal;    margin: 10px auto;    padding: 3px;    text-align: left;    vertical-align: bottom;}


/* use a different color for the errors */

div.error { border: 2px solid red;}
img.validationWarning,div.errors img.icon, div.messages img.icon {    border: 0;    width: 14px;    height: 13px;    vertical-align: top;}
div.message a {    background: transparent;    color: #0000FF;}
div.message a:visited {    background: transparent;    color: #0000FF;}
div.message a:hover {    background: transparent;    color: #008000;}
div.message a:active {    text-decoration: underline overline;}
div.message img.icon {    vertical-align: middle;}
span.fieldError {    color: red;    font-size: .95em;    font-weight: bold;}

.portfolio{ font-size:11px; width:185; margin-top:2; margin-bottom:2; background-color: #ffffff; color:#660000; }

.communities {
    color: #660000; font-size: 14px; font-weight: bold;
}

.ScrollDiv {
width:500px;
height:175px;
overflow: auto; 
background-color: #E3E1DD;
border-color: #CCCCCC #666666 #666666 #CCCCCC;
border: 1px solid;
}
.legend {font-family: Arial, Helvetica, sans-serif; font-size: 8pt;}
.legend-left-table {background-color: #F4F4F4; color: #000000;font-weight: normal;border: solid 1px #CCCCCC; border-collapse: separate;border-spacing: 3px;padding: 0px;}
.legend-left-table-section-header {background-color: #CCCCCC; color: #660000; font-weight: bold;}
.legend-left-table td {padding: 1px 1px 1px 1px;}
