<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">MERLOT Search Module</name> 
    <description lang="en">A SOAP web service client for searching the MERLOT content repository.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.2</version> 
		<privileges>
			<instructor_privilege></instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2007-02-12</date> 
        <state>stable</state> 
        <notes>A MERLOT key is required to activate this module. See the README included with the module source code for details.</notes> 
    </release> 
</module>