<?xml version="1.0" encoding="ISO-8859-1"?>

<module version="0.1"> 
	<name lang="en">Hello World</name> 
	<description lang="en">This is an example module that developers can use to create their own modules. If installed and enabled will create a student Hello World tool that displayes a welcome message. Additionally, an instructor Hello World section will be made available using the default instructor privilege.</description> 
	<maintainers> 
		<maintainer> 
			<name>Heidi Hazelton</name> 
			<email>info@atutor.ca</email> 
		</maintainer> 
		<maintainer> 
			<name>Joel Kronenberg</name> 
			<email>info@atutor.ca</email> 
		</maintainer> 
	</maintainers> 
	<url>http://atutor.ca</url>
	<license>BSD</license> 
	<release> 
		<version>1.0</version> 
		<use_privilege>FALSE</use_privilege>
		<date>2005-08-16</date> 
		<state>Stable</state> 
		<notes>This module is only available in English.</notes> 
	</release> 
</module>