<?xml version="1.0" encoding="ISO-8859-1"?>

<module version="0.1"> 
	<name>Hello World</name> 
	<description>Lists all members of a course with links to their profiles.</description> 
	<maintainers> 
		<maintainer> 
			<name>Heidi Hazelton</name> 
			<email>info@atutor.ca</email> 
		</maintainer> 
		<maintainer> 
			<name>Joel Kronenberg</name> 
			<email>info@atutor.ca</email> 
		</maintainer> 
	</maintainers> 
	<url>http://atutor.ca</url>
	<release> 
		<version>1.0</version> 
		<use_privilege>FALSE</use_privilege>
		<date>2005-08-16</date> 
		<license>GPL</license> 
		<state>stable</state> 
		<notes></notes> 
		<filelist> 
			<file role="php" baseinstalldir="." md5sum="DHEI38DH3DF4ERf4DF5EFF" name="index.php" />
			<file role="php" baseinstalldir="." md5sum="ABCDEFG123456789789" name="module.php" />
			<file role="gif" baseinstalldir="./images" md5sum="123456789123456789" name="icon.gif" />
		</filelist> 
	</release> 
</module>