<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Hello World</name> 
    <description lang="en">This is a demo module that can be used as a skeleton for developing your own module. It implements all the features that a module can implment, including its own privileges, a directory, course backup/restore and delete, and an SQL file.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
	<release> 
        <version>0.1</version> 
        <date>2005-08-22</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>