<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">ACollab</name> 
    <description lang="en">ACollab is a fully accessible, open source, multi-group, Web-based collaborative work environment.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
        <date>2005-08-22</date> 
        <state>stable</state> 
        <notes>Additional Installation Steps: Before ACollab will function properly as an add-on module, the ATutor and ACollab config.inc.php files need to be modified by adding the following lines, adjusting the values accordingly. Include the trailing slash.
		
		Add to ACollab's conif,inc.php file:
		define('AT_PATH','http://www.mydomain.com/ATutor/');
		define('AT_PREFIX','AT_');
		
		Add to ATutor's config.inc.pgp
		define('AC_PATH','http://www.mydomain.com/ACollab/');
		define('AC_PREFIX','AC_');
	</notes> 
    </release> 
</module>