<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Patcher</name> 
    <description lang="en">This is a module that used by administrator to apply patches available at update.atutor.ca. Please refer to README for detail usage.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
	<release> 
        <version>0.1</version> 
        <date>2008-02-08</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>