ul#topnavlist li a {
/*	padding: .7em .8em 1.1em .8em; */
}
/*
ul#subnavlist li a {
	padding: .4em .6em .4em .6em;
}
ul#subnavlist li a:hover, ul#subnavlist li a:focus{
	padding: .5em .6em 1.1em .6em;
}
ul#subnavlist li span.active {
	padding: .3em .6em 1.3em .6em;
}
*/