/*
    THEMES:
    Themes are sets of visual properties that represent items both at rest and in action
    CSS allows for powerful blending and combinations of visual properties (Cascadence)
    
    The themes are separated into roles:
    Layout
    Graphics
    Colors
    Fonts
    
    Theme files will combine specific roles and custom declarations to make a single cohesive aesthetic
*/

/* 
 * 
 *Typography
 *Layout
 *    columns grids modules
 *Colors
 *    theme-red
 *    theme-blue
 *    theme-green
 *    theme-gold
 *    theme-contrast (basic setup for high contrast b/w )
 *Graphics
 *    Low Bandwidth (shallow depth bitmaps or no graphics)
 *    High Bandwidth (full graphics)
 *     
 */


#fluidproject{} /* Namespace */






















/* TYPOGRAPHY */


/* LAYOUT */
.floatContainerFix {
    /* makes a container with floating elements inside grow to reflect their height */
    /* see http://www.sitepoint.com/blogs/2005/02/26/simple-clearing-of-floats/ */
    overflow: auto;
}
.floatMarginFix {    
    display: inline; /* removes IE6 double margin on floated elelemnts bug, no effect on other browsers */
}

/* COLOR */

/* GRAPHICS */

/*  HIGH CONTRAST: black and white */
.-fluid-theme-highContrast h1 {
    font            : bold 3em "Times,serif";
    color           : #fff;
    background-color: #000;
}

.-fluid-theme-highContrast h2 {
    font            : bold 2.0em "Times,serif";
    color           : #fff;
    background-color: #000;
}
.-fluid-theme-highContrast a:link {
    font-weight     : bold;
    color           : white;
    background-color: black;
}

.-fluid-theme-highContrast a:visited {
    font-weight     : bold;
    color           : black;
    background-color: white;
}

.-fluid-theme-highContrast a:hover {
    font-weight     : bold;
    color           : black;
    background-color: white;
    border-bottom   : 3px double black;
}


/*  BREEZE: white, blue, light gray */
.-fluid-theme-breeze {
    background-color : white;
}

/* GRAPHICS AND SPEED */
.-fluid-high-bandwidth {}

.-fluid-low-bandwidth {}















