/* CSS specifically for the examples document */
h1 {
    clear   : both; 
    padding : 40px 0 0; 
    margin  : 0px;
}

blockquote strong {
    border: 1px solid #fff;
}

#customEditorContainer {
}

#customEdit .inlineEdit-invitation {
    border      : 1px solid red;
    background  : yellow;
    color       : red;
    padding     : 2px;
}

#customizedEditField {
    border  : 1px dashed #999;
    font    : bold 12px "Arial";
    color   : #999;
    padding : 2px;
}
