.fl-reorderer-movable-default{cursor:move;}
.fl-reorderer-movable-selected{background-color:lightyellow!important;}
.fl-reorderer-movable-hover{background-color:lightyellow;}
.fl-reorderer-movable-dragging{background:#ccc!important;}
.fl-reorderer-avatar{cursor:move;list-style-type:none;filter:alpha(opacity=75);opacity:.75;}
.flc-reorderer-dropWarning{display:none;padding:5px 25px;color:#fff;opacity:1;filter:alpha(opacity=100);background:#900 url('../images/themes/_common/exclamation.png') no-repeat 5px center;}
.fluid-vertical-order .fl-reorderer-dropMarker{background-color:#F00!important;height:0;padding:2px 0 0 0;border-width:0;margin:-2px 0 0 0;list-style-type:none;font-size:0;line-height:0;overflow:hidden;}
.fluid-horizontal-order .fl-reorderer-dropMarker{background-color:#F00!important;padding:0 3px;border-width:0;margin:0 -3px!important;list-style-type:none;overflow:hidden;width:0!important;}