<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Backups</name> 
    <description lang="en">Allows instructors and administrators to create and restore course backups.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
		<privileges>
			<instructor_privilege>existing</instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2005-08-22</date> 
        <state>stable</state> 
        <notes>This is a core module.</notes> 
    </release> 
</module>