/* for right to left languages */
html, body {
	direction: rtl;
}

/* required for mozilla browsers*/
.img-size-tree {
	vertical-align: middle;
	margin-top: 0px;
	height:1.45em;
	width:1.45em;
	text-align: right.;
	float: right;
}
div.box {
	line-height:150%;
}
div.menuedit{
	float:left;
	clear:both;
	margin-top:-1.8em;
}


.del-content-icon{
/* float:left; */
      border:0;
}


#editable_table a{
      margin-right:.5em;

}

.logoutbar{
      text-align:left;

}

.fl-force-right{
      float:left;
      clear:left;
}

.buttonbox{
      float:left;

}
div#breadcrumbs{
      float:left;
}
ul.current_list li{
      width:90%;
}

.current_box{
      width:34%;
}

.my_course_container{
      width:55%;
}
div#menutoggle{
      float:left;
      clear:left;
      margin-left:.3em;
}

#content-tool-links{
      float:right;
}

div#member-links{
      background-color: #788CB3;
}
#side-menu h4{
      width:99%;
}
div#header{

background-position:right top;
}
.section-title{
float:left;
margin-left:250px;
}

.admin_container{
float:left;
white-space:normal;
}
.page-title{

margin-top:1em;
}

.top-tool{
width:95%;
}
.child-top-tool li{
white-space:normal;
overflow:visible;
}

#contentcolumn {
white-space:normal;
	overflow:visible;
}