/* for right to left languages */
html, body {
	direction: rtl;
}

/* required for mozilla browsers*/
.img-size-tree {
	vertical-align: middle;
	margin-top: 0px;
	height:1.45em;
	width:1.45em;
	text-align: right.;
	float: right;
}
div.box {
	line-height:150%;
}
div.menuedit{
	float:left;
	clear:both;
	margin-top:-1.8em;
}


.del-content-icon{
/* float:left; */
      border:0;
}


#editable_table a{
      margin-right:.5em;

}

.logoutbar{
      text-align:left;

}

.fl-force-right{
      float:left;
      clear:left;
}

.buttonbox{
      float:left;

}
div#breadcrumbs{
      float:left;
}
ul.current_list li{
      width:90%;
}

.current_box{
      width:34%;
}

.my_course_container{
      width:55%;
}
div#menutoggle{
      float:left;
      clear:left;
      margin-left:.3em;
}

#content-tool-links{
      float:right;
}

div#member-links{
      background-color: #788CB3;
}
#side-menu h4{
      width:99%;
}
div#header{
	background-position:right top;
}
.section-title{
	float:left;
	margin-left:250px;
}

.admin_container{
	float:left;
	clear:left;
	white-space:normal;
}

.page-title{
	margin-top:1em;
}

.top-tool{
	width:95%;
}
.child-top-tool li{
	white-space:normal;
	overflow:visible;
}

#contentcolumn {
	white-space:normal;

}

/* IE 7 adjustments for RTL Languages */
table.etabbed-table	{
	padding-right:5em;

}
table.data tfoot tr:first-child td {
	padding: 5px;
	background-image: url('../default/images/arrow_rtl.gif');
	background-repeat: no-repeat;
	background-position: 99% 50%;
	margin-left: 40px;
}
table.data tfoot input{
	margin-right:2em;
}
ul#subnavlist{
	*margin-right:4em;
}

fieldset.group_form{
	*margin-right:0;
}
table.etabbed-table	{
	*margin-right:4em;
}
.etabbed-list{
	*margin-right:4em;
}
