
/** COMPONENT GLOBAL STATES **/
/* themes contain variations on these selector */

/*************************************/
/* REORDERER */
/* automatically applied to any re-orderable item */
.orderable-default {
    cursor:move;
} 

/* automatically applied the keyboard selected re-orderable item */
.orderable-selected {
	background-color: lightyellow !important;
}

/* automatically applied as the mouse hovers over re-orderable item */
.orderable-hover {
    background-color: lightyellow; /* !important;;*/
}

/* automatically applied the keyboard selected re-orderable item */
.orderable-dragging {
    background     :#999 !important;
    color          :#fff !important;
}

.orderable-avatar {
    cursor          : move;
    list-style-type : none;
    filter          : alpha(opacity=75);
    opacity         : 0.75;    
}

/* */
.dropWarning {
    display : none;
				padding: 5px 25px; 
				color : #fff;
				opacity:1;
				filter:alpha(opacity=100);
				background: #900 url('../images/shared/exclamation.png') no-repeat 5px center;
}

/* DROP MARKER: different layouts might require different drop marker appearances */
/* Horizontal drop marker: designed for vertical layouts (default) */
.fluid-vertical-order .orderable-drop-marker{
    background-color: red       !important;
    height          : 0         !important;
    padding         : 2px 0 0 0 !important;
    border-width    : 0         !important;
    margin          : -2px 0 0 0!important;
    list-style-type : none;
    font-size       : 0;
    line-height     : 0;
    overflow        : hidden;
}
/* Vertical drop marker: designed for grid or horizontal layouts */
.fluid-horizontal-order .orderable-drop-marker {
    background-color: red       !important;
    width           : 0px       !important;
    padding         : 2px       !important;
    border-width    : 0         !important;
    margin          : 0 -2px 0 0!important;
    list-style-type : none;
    /*line-height     : 0;*/
    overflow        : hidden;
}


/*************************************/
/* Inline Edit */
/* hover effect over editable element */
.inlineEdit-invitation {
    border      : 1px solid #999;
    background  : lightyellow;
    cursor      : pointer;
}
.inlineEdit-tooltip {
    position    : absolute;
    background  : #CCC;
    border      : 1px solid #999;
    font        : normal 75% sans-serif;
    padding     : 3px 5px;
}
.inlineEdit-field {
}
.viewport-bottom {
}

