/*
Generic containers
=============================================
 */
.fl-force-right {float:right; display:inline;} /* IE 6 needs inline display to prevent double margin bug (other browsers ignore it) */
.fl-force-left {float:left; display:inline;} /* IE 6 needs inline display to prevent double margin bug (other browsers ignore it) */

.fl-container-750 {width: 750px; overflow: auto;}
.fl-container-950 {width: 950px; overflow: auto;}

.fl-container-100 {width: 100px; overflow: auto;}
.fl-container-150 {width: 150px; overflow: auto;}
.fl-container-200 {width: 200px; overflow: auto;}
.fl-container-250 {width: 250px; overflow: auto;}
.fl-container-300 {width: 300px; overflow: auto;}

.fl-container-flex {width: 100%; overflow: auto;}
.fl-container-flex25 {width: 24.5%; overflow: auto; padding-left:0.25%; padding-right:0.25%;}
.fl-container-flex30 {width: 32%; overflow: auto; padding-right:0.5%; padding-left:0.5%;}
.fl-container-flex33 {width: 33%; overflow: auto;}
.fl-container-flex50 {width: 50%; overflow: auto;}

.fl-container-column {}


/*
Layout Helpers
=============================================
*/


/*
 * Tabs: a quick tab system
 * Dependency: list-based markup ?
 */
.fl-tabs-center {text-align:center;}
.fl-tabs-left {text-align:left; padding-left:10px;}
.fl-tabs-right {text-align:right; padding-right:10px;}
.fl-tabs {border-bottom: 1px solid}
.fl-tabs li {border:1px solid}

.fl-tabs {margin:0; padding-bottom:3px;}
.fl-tabs li {list-style-type:none; display:inline; padding:3px 8px; text-align:center; margin-right:-5px; cursor:pointer;}
.fl-tabs .fl-activeTab {}

/*
 * Menus: a quick menu
 * Dependency: list-based markup ?
 */
.fl-listmenu {padding:2px;}
.fl-listmenu li {margin:0; padding:0;}
.fl-listmenu a {padding:5px 5px; display:block; zoom:1;} /* list item needs layout (http://www.brunildo.org/test/IEWlispace.php) */

/*
 * Picture Grid: a quick picture grid layout
 * Dependency: list-based markup ?
 */
.fl-grid {padding:2px;}
.fl-grid li {list-style-type:none; display:inline;}
.fl-grid li {float:left; width:18%; margin:2px; height:150px; overflow:hidden; position:relative; display:inline;}
.fl-grid li img {display:block; margin:0 auto;}
.fl-grid li .caption {position:absolute; left:0px; bottom:0px; width:100%; text-align:center; height:1em; padding:3px 0;}


/*
Component Specific Declarations
=============================================
*/
/* INLINE EDIT */
.fl-component-inlineEdit span input {margin:-2px; padding:0;} /* auto generated input fields */










