/* CSS for the example document */
.example{padding:10px 0; clear:both;}


.columnSetup1 {font: normal 0.75em Verdana, Arial, sans-serif;}
    .columnSetup1 .myColumn {
        margin          : 0 5px;
        border          : 1px solid #666;
        width           : 30%;    
        background-color: #ccc;
        float           : left;
    }
    .columnSetup1 .myColumn div, .mySortable {
        padding         : 10px;
        border          : 1px solid;
        margin          : 5px;
        background-color: #fff;     
    }
    .columnSetup1 .mySortable {
        cursor : move;
    }


.columnSetup2 {font: normal 0.75em Verdana, Arial, sans-serif;}
    .columnSetup2 h2 {color:white;}
    .columnSetup2 div {
        margin          : 0 5px;
        border          : 1px solid #666;
        width           : 30%;    
        background-color: #000;
        float           : left;
    }
    .columnSetup2 div div, .columnSetup2 div p {
        padding         : 10px;
        border          : 1px solid #000;
        margin          : 5px;
        width           : auto;
        float           : none;
        background-color: #fff;
        cursor          : not-allowed;
    }
    .columnSetup2 div div {
        cursor : move;
    }


.columnSetup3 {font: normal 0.75em Verdana, Arial, sans-serif;}
    .columnSetup3 .myColumn {
        margin          : 0 5px;
        border          : 1px solid #666;
        width           : 30%;    
        background-color: #ccc;
        float           : left;
    }
    .columnSetup3 div div {
        padding         : 10px;
        border          : 1px solid;
        margin          : 5px;
        background-color: #fff;
        cursor          : move;
    }



/* local options used specifically for this component example */
.weatherWidget {}
.weatherWidget h1 {margin:0;}
.weatherWidget .temperature {margin:0 0 20px 0; font-size:150%;}
.weatherWidget .temperature strong {float:right;}
.weatherWidget .information {/*overflow:auto;*/ padding:10px;}
.weatherWidget .information ul {margin:0; padding:0 2em;}



