h1 {
    clear   : both; 
    padding : 40px 0 0; 
    margin  : 0px;
}

#myList li {
    width       : 200px;
    display     : list-item; /* fixes IE bug http://www.quirksmode.org/bugreports/archives/2005/07/IE_60_does_not_render_ordered_list_correctly.html */
    background  : #CCC;
    margin      : 2px 0;    
}

#myTabs {
    border-bottom   : 1px solid #ccc;
    margin          : 0;
    padding         : 0 0 5px 25px;
    position        : relative; /* see note below. this helps contain the abs. positioned drop marker */
}

#myTabs li {        
    list-style-type : none;
    display         : inline !important;
    margin-right    : -5px;        
}

#myTabs li a {
    padding     : 5px 8px;
    border      : 1px solid #ccc;
    background  : #ebebeb;
    cursor      : move;
}

#myTabs li.activeTab a {
    border-bottom-color : #fff;
    background          : #fff;
}

.tabsContent {
    clear       : left;
    border      : 1px solid #ccc;
    border-top  : none;
    padding     : 15px;
}
    
/* position the drop marker as absolute ensures its visibility over the tabs, which have no space between themselves */
#myTabs .orderable-drop-marker {
    position: absolute; 
    height: 90%;
}
#myTabs *:focus {outline:none;}
#myTabs .orderable-selected a {
	border:2px solid #000;
	border-bottom-width:1px;
	border-bottom-color:#ccc;
	background-color: lightyellow;
}
#myTabs .orderable-dragging a {
	border:2px solid #999;
	background-color: lightyellow;
	border-bottom-width:1px;
	border-bottom-color:#ccc;
}


#myGrid {
    width   : 350px;
    height  : 300px;
    border  : 1px solid #CCC;
}

#myGrid p {
    background  : #ebebeb;
    width       : 30%;
    height      : 30%;
    margin      : 5px;        
    text-align  : center;
    display     : inline;
    float       : left; 
}