div#AtOpenCaps {

}

div#ATOC_playerPreview {
	border: 0px solid #ccc;
	margin-right: auto;
	margin-left: auto;
	float: left;
}
	
div#ATOC_preview_code {
	border: 1px solid #ccc;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: #efefef;
	color: #444;
	margin-top: 30px;
	margin-bottom: 30px;
	float: right;
}


div#Abase {
	border: 1px solid #ccc;
	padding: 10px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	background-color: #efefef;
	color: #444;
	margin-top: 30px;
	margin-bottom: 30px;
	float: right;
}

.ATOC_projecLink {
	font-size: 1.5em;
}

.ATOC_labels {
	font-size: 1.1em;
	text-align: center;
	padding: 1em 1em;

}