<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">UTF8 Content Conversion Utility</name> 
    <description lang="en">This is a utility to convert character sets to UTF-8.
    The conversion includes:
    1. replaces the charset strings defined in html "meta" tag and "charset" tag in xml files to "UTF-8";
    2. convert files from old character set to UTF-8.
    
    Requirement
      This module requires PHP ICONV module to be installed and enabled.
      
      File types to convert 
      html, xml, csv, txt, sql
      
      Usage
      1. Upload the zip file that contains all the files needed to be converted, Click "Convert" button;
      2. The module searchs through all html and xml files to find "charset" defined in html "meta" tag and "charset" defined in xml files. 
         If:
         (1) Only 1 character set found:
         		The module converts the files with file types to convert from found charset to UTF-8.
         (2) More than 1 character set found:
            The module displays a drop-down listbox with all found character sets. User selects one and clicks "Go" button. The module will do the conversion from the selcted character set to UTF-8.
         (3) No character set found:
            The module displays a drop-down listbox with default character sets. User selects one and clicks "Go" button. The module will do the conversion from the selcted character set to UTF-8.
         </description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
	<release> 
        <version>0.1</version> 
        <date>2008-01-21</date> 
        <state>Beta</state> 
        <notes>This module requires PHP ICONV module to be installed and enabled.</notes> 
    </release> 
</module>