<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">UTF8 Content Conversion Utility</name> 
    <description lang="en">This is a utility to convert character sets to UTF-8.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
	<release> 
        <version>0.1</version> 
        <date>2008-01-21</date> 
        <state>Beta</state> 
        <notes></notes> 
    </release> 
</module>