.fl-theme-hc{color:#000;background-color:#fff;}
.fl-theme-hc div,.fl-theme-hc input{color:#000;background-color:#fff;border-color:#000;}
.fl-theme-hc iframe{border-color:#000;}
.fl-theme-hc a{color:#000;font-weight:bold;background-color:#fff;}
.fl-theme-hc h1,.fl-theme-hc h2,.fl-theme-hc h3,.fl-theme-hc h4,.fl-theme-hc h5,.fl-theme-hc h6{color:#000;background-color:#fff;border-color:#000;}
.fl-theme-hc th{border:.1em solid #000;background-color:#000;color:#fff;}
.fl-theme-hc td{border:.1em solid #000;}
.fl-theme-hc .fl-focus:focus,.fl-theme-hc .fl-focus :focus,.fl-theme-hc.fl-focus :focus,.fl-theme-hc .selectable{outline:.2em solid #F00;}
.fl-theme-hc .fl-knockout{background:transparent!important;color:#000;}
.fl-theme-hc .fl-icon{background-color:#fff;}
.fl-theme-hc .fl-tabs{border-bottom-color:#000;}
.fl-theme-hc .fl-tabs li,.fl-theme-hc .fl-tabs li *{border-color:#000;border-bottom-color:#000;}
.fl-theme-hc .fl-tabs li{background-color:#000;}
.fl-theme-hc .fl-tabs li *{color:#fff;font-weight:bold;background-color:#000;text-decoration:none;}
.fl-theme-hc .fl-tabs li:hover,.fl-theme-hc .fl-tabs li:hover *,.fl-theme-hc .fl-tabs li a:hover{color:#000;background-color:#fff;}
.fl-theme-hc .fl-tabs li.fl-tabs-active,.fl-theme-hc .fl-tabs li.fl-tabs-active a,.fl-theme-hc .fl-tabs li.fl-tabs-active a:hover,.fl-theme-hc .fl-tabs li.fl-activeTab,.fl-theme-hc .fl-tabs li.fl-activeTab:hover,.fl-theme-hc .fl-tabs li.fl-activeTab a,.fl-theme-hc .fl-tabs li.fl-activeTab a:hover{background-color:#fff;border-bottom-color:#fff;color:#000;}
.fl-theme-hc .fl-tab-content{background-color:#fff;color:#000;}
.fl-theme-hc .fl-listmenu,.fl-theme-hc .fl-list-menu{border:1px solid #000;border-bottom-width:2px;background-color:#fff;}
.fl-theme-hc .fl-listmenu li,.fl-theme-hc .fl-list-menu li,.fl-theme-hc .fl-listmenu li a,.fl-theme-hc .fl-list-menu li a{font-weight:bold;color:#000;background-color:#fff;border-color:#000;text-decoration:none;}
.fl-theme-hc .fl-listmenu a:hover,.fl-theme-hc .fl-list-menu a:hover{background-color:#000;color:#fff;}
.fl-theme-hc .fl-listmenu .fl-activemenu a,.fl-theme-hc .fl-list-menu .fl-activemenu a,.fl-theme-hc .fl-listmenu .fl-activemenu a:hover,.fl-theme-hc .fl-list-menu .fl-activemenu a:hover{background-color:#000;border-bottom-color:#fff;color:#fff;}
.fl-theme-hc .fl-button-left,.fl-theme-hc .fl-button-right{color:#000;background-color:#fff;}
.fl-theme-hc .fl-button-left,.fl-theme-hc .fl-button-right{background-image:url('../images/themes/hc/buttons-med-cap.png');}
.fl-theme-hc .fl-button-inner{background-image:url('../images/themes/hc/buttons-med-bg.png');}
.fl-theme-hc .fl-widget{background-color:#000;border:1px solid #fff;}
.fl-theme-hc .fl-widget h2{display:inline;}
.fl-theme-hc .fl-widget a{color:#000;}
.fl-theme-hc .fl-widget .fl-icon-more{background-image:url('../images/themes/hc/icon-widget-More.png');margin-left:0;}
.fl-theme-hc .fl-widget .fl-icon-close{background-image:url('../images/themes/hc/icon-widget-Close.png');margin-right:0;}
.fl-theme-hc .fl-widget .fl-widget-titlebar{margin-bottom:3px;}
.fl-theme-hc .fl-grabbable .fl-widget-titlebar{background-image:url('../images/themes/hc/icon-widget-gripper.png');}
.fl-theme-hc .fl-grabbable .fl-widget-titlebar h2{display:inline;}
.fl-theme-hc .fl-widget-titlebar .icon{background-position:center center;}
.fl-theme-hc .fl-widget-titlebar .fl-button-right,.fl-theme-hc .fl-widget-titlebar .fl-button-left{color:#000;background-image:url('../images/themes/hc/buttons-titlebar-cap.png');text-decoration:none;}
.fl-theme-hc .fl-widget-titlebar .fl-button-inner{background-image:url(../images/themes/hc/buttons-titlebar-bg.png);}
.fl-theme-hc .fl-widget .fl-widget-options{padding:0;}
.fl-theme-hc .fl-widget .fl-widget-options li{border-left:1px solid #fff;}
.fl-theme-hc .fl-widget .fl-widget-content{background-color:#fff;}
.fl-theme-hc .fl-progress-bounds{border-color:#000;background-color:#fff;}
.fl-theme-hc .fl-progress-fill{color:#fff;background-color:#000;}
.fl-theme-hc .fl-reorderer-dropMarker{background-color:#f00;}
.fl-theme-hc .fl-inlineEdit-edit{background-color:#000;color:#fff;border:.1em solid #fff;padding:.1em;margin:-0.1em;}