.fl-theme-hci{color:#fff;background-color:#000;}
.fl-theme-hci div,.fl-theme-hci input{color:#fff;background-color:#000;border-color:#fff;}
.fl-theme-hci iframe{border-color:#fff;}
.fl-theme-hci a{color:#fff;font-weight:bold;background-color:#000;}
.fl-theme-hci h1,.fl-theme-hci h2,.fl-theme-hci h3,.fl-theme-hci h4,.fl-theme-hci h5,.fl-theme-hci h6{color:#fff;background-color:#000;border-color:#fff;}
.fl-theme-hci th{border:.1em solid #fff;background-color:#fff;color:#000;}
.fl-theme-hci td{border:.1em solid #fff;}
.fl-theme-hci .fl-focus:focus,.fl-theme-hci .fl-focus :focus,.fl-theme-hci.fl-focus :focus,.fl-theme-hci .selectable{outline:.2em solid #F00;}
.fl-theme-hci .fl-knockout{background:transparent!important;color:#fff;}
.fl-theme-hci .fl-icon{background-color:#000;}
.fl-theme-hci .fl-tabs{border-bottom-color:#fff;}
.fl-theme-hci .fl-tabs li,.fl-theme-hci .fl-tabs li *{border-color:#fff;border-bottom-color:#fff;}
.fl-theme-hci .fl-tabs li{background-color:#fff;}
.fl-theme-hci .fl-tabs li *{color:#000;font-weight:bold;background-color:#fff;text-decoration:none;}
.fl-theme-hci .fl-tabs li:hover,.fl-theme-hci .fl-tabs li:hover *,.fl-theme-hci .fl-tabs li a:hover{color:#fff;background-color:#000;}
.fl-theme-hci .fl-tabs li.fl-tabs-active,.fl-theme-hci .fl-tabs li.fl-tabs-active a,.fl-theme-hci .fl-tabs li.fl-tabs-active a:hover,.fl-theme-hci .fl-tabs li.fl-activeTab,.fl-theme-hci .fl-tabs li.fl-activeTab:hover,.fl-theme-hci .fl-tabs li.fl-activeTab a,.fl-theme-hci .fl-tabs li.fl-activeTab a:hover{background-color:#000;border-bottom-color:#000;color:#fff;}
.fl-theme-hci .fl-tab-content{background-color:#000;border:1px solid #fff;border-top:none;color:#fff;}
.fl-theme-hci .fl-listmenu,.fl-theme-hci .fl-list-menu{border:1px solid #fff;border-bottom-width:2px;background-color:#000;}
.fl-theme-hci .fl-listmenu li,.fl-theme-hci .fl-list-menu li,.fl-theme-hci .fl-listmenu li a,.fl-theme-hci .fl-list-menu li a{font-weight:bold;color:#fff;background-color:#000;border-color:#fff;text-decoration:none;}
.fl-theme-hci .fl-listmenu a:hover,.fl-theme-hci .fl-list-menu a:hover{background-color:#fff;color:#000;}
.fl-theme-hci .fl-listmenu .fl-activemenu a,.fl-theme-hci .fl-list-menu .fl-activemenu a,.fl-theme-hci .fl-listmenu .fl-activemenu a:hover,.fl-theme-hci .fl-list-menu .fl-activemenu a:hover{background-color:#fff;border-bottom-color:#000;color:#000;}
.fl-theme-hci .fl-button-left,.fl-theme-hci .fl-button-right{color:#fff;background-color:#000;}
.fl-theme-hci .fl-button-left,.fl-theme-hci .fl-button-right{background-image:url('../images/themes/hci/buttons-med-cap.png');}
.fl-theme-hci .fl-button-inner{background-image:url('../images/themes/hci/buttons-med-bg.png');}
.fl-theme-hci .fl-widget{background-color:#fff;border:1px solid #000;}
.fl-theme-hci .fl-widget h2{color:#fff0;background-color:#00000;}
.fl-theme-hci .fl-widget a{color:#fff;}
.fl-theme-hci .fl-widget .fl-icon-more{background-image:url('../images/themes/hci/icon-widget-More.png');margin-left:0;}
.fl-theme-hci .fl-widget .fl-icon-close{background-image:url('../images/themes/hci/icon-widget-Close.png');margin-right:0;}
.fl-theme-hci .fl-widget .fl-widget-titlebar{margin-bottom:3px;}
.fl-theme-hci .fl-grabbable .fl-widget-titlebar{background-image:url('../images/themes/hci/icon-widget-gripper.png');}
.fl-theme-hci .fl-grabbable .fl-widget-titlebar h2{display:inline;}
.fl-theme-hci .fl-widget-titlebar .icon{background-position:center center;}
.fl-theme-hci .fl-widget-titlebar .fl-button-right,.fl-theme-hci .fl-widget-titlebar .fl-button-left{color:#fff;background-image:url('../images/themes/hci/buttons-titlebar-cap.png');text-decoration:none;}
.fl-theme-hci .fl-widget-titlebar .fl-button-inner{background-image:url(../images/themes/hci/buttons-titlebar-bg.png);}
.fl-theme-hci .fl-widget .fl-widget-options{padding:0;}
.fl-theme-hci .fl-widget .fl-widget-options li{border-left:1px solid #000;}
.fl-theme-hci .fl-widget .fl-widget-content{background-color:#000;}
.fl-theme-hci .fl-progress-bounds{border-color:#fff;background-color:#000;}
.fl-theme-hci .fl-progress-fill{color:#000;background-color:#fff;}
.fl-theme-hci .fl-reorderer-dropMarker{background-color:#f00;}
.fl-theme-hci .fl-inlineEdit-edit{background-color:#fff;color:#000;border:.1em solid #000;padding:.1em;margin:-0.1em;}