<?xml version="1.0" encoding="UTF-8"?> 
<module version="0.1"> 
    <name lang="en">Polls</name> 
    <description lang="en">Polls are useful for quickly gathering course member opinions. Instructors and students with poll privileges can post a question with up to seven choices for answers.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
		<privileges>
			<instructor_privilege>create</instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2005-08-22</date> 
        <state>stable</state> 
        <notes>This is a standard module.</notes> 
    </release> 
</module>