div .profile_container {
	background-color:#eee; 
	border: 1px solid #8e8e8e; 
	width:80%; 
	padding:0.5em; 
	margin-bottom: 0.5em;
}

div .profile_container .top_right {
	float: right;
}

dl.public-profile dd{
	margin-left:0px;
}
dl.public-profile dt {
	float: left;
	font-weight: bold;
	min-width:12em;
}

/* Search form */
div .search_form {
	margin-bottom: 1em;
}

div .search_form .row{
	background-color: #DEDEC0;
	padding: 8px;
}
div .button {
	background-color: #eee;
	border: 1px solid #aaa;
}
div .button:hover{
	background-color: #cccccc;
	color: #ffffff;
}

/* Side menu */


ul.social_side_menu {
	padding-left: 2em;
}
ul.social_side_menu li {
	padding-bottom: 0.2em;
	list-style: circle;
}

div .divider {
	border-bottom:1px solid #C1C157; 
	padding-bottom:0.5em; 
	margin-bottom:0.5em;
}

.activity{
 	line-height:18pt;
	font-size:.8em;
}

div.headingbox, h3.headingbox, a.headingbox{
	border:1px #cccccc solid;
	padding:.2em;
	background-color: #eeeeee;
	text-decoration:none;
	line-height:1em;
	font-size:.7em;
}

div.contentbox, input-form{
	margin-left:.2em;
	margin-right:.2em;
	border-left:1px #cccccc solid;
	border-right:1px #dddddd solid;
	border-bottom:1px #cccccc solid;
	padding:.5em;
	background-color: #ffffff;
        overflow:hidden;
}

div.suggestions{
	border:1px solid #a50707;
	margin-left:10px; 
	width:50%;
}
li.inlinelist{
	display: inline; 
	padding-right: 1em;
}
ul.social_inline_menu{
	background-color: #eeeeee;
	border:thin #cccccc solid;
	padding:.5em;
	width:90%;
	margin:auto;
}
div.social-wrapper{
	border:thin solid #cccccc; 
	width:95%;
	padding:.5em;
	margin:auto;
}