<?xml version="1.0" encoding="ISO-8859-1"?>

<module version="0.1"> 
	<name>ATalker: ATutor Text-to-Speech Addon</name> 
	<description>ATalker is a Web-based text-to-speech utility. This version can be installed as an addon for ATutor, reading text,  or text formatted with SABLE or SSML text-to-speech markup languages. Play, download, save course speech files, and generate voices for ATutor.  </description> 
	<maintainers> 
		<maintainer> 
			<name>Greg Gay</name> 
			<email>info@atutor.ca</email> 
		</maintainer> 
	</maintainers> 
	<url>http://atutor.ca</url>
	<release> 
		<version>0.1</version> 
		<use_privilege>true</use_privilege>
		<date>2005-08-16</date> 
		<license>GPL</license> 
		<state>Experimental</state> 
		<notes>This module is available in English and Spanish, with the potential to support additional pronunciation schemes for those interested in developing new voices for Festival or Mbrola.</notes> 
	</release> 
</module>