div .profile_container {
	background-color:#eee; 
	border: 1px solid #8e8e8e; 
	width:80%; 
	padding:0.5em; 
	margin-bottom: 0.5em;
}

div .profile_container .top_right {
	float: right;
}
/*

div .connection_container {
	border:1px solid #ddd; 
}
*/


/* Gadget window */
/*
div .gadget_wrapper{
	margin-bottom: 1em;
}
div .gadget_title_bar {
	background-color: #58583C;
	color: #DEDEA4;
	padding-left: 0.5em; 
}
div .gadget_title_bar a{
	color: #DEDEA4;
}


div .gadget_container {
	background-color: #DEDEC0;
}
div .contact_mini{
	border-bottom: 1px solid white;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
div .contact_mini ul, div .contact_mini ul li{
	padding: 0;
	padding-left: 0.5em;;
	padding-right: 0.5em;
	list-style: none;
	display: inline;
}
div .contact_mini img{
	border: none;
}

*/

/* Search form */
div .search_form {
	margin-bottom: 1em;
}

div .search_form .row{
	background-color: #DEDEC0;
	padding: 8px;
}
div .button {
	background-color: #eee;
	border: 1px solid #aaa;
}
div .button:hover{
	background-color: #cccccc;
	color: #ffffff;
}

/* Side menu */

/*
ul.social_side_menu {
	padding-left: 0px;
}
ul.social_side_menu li {
	padding-bottom: 0.2em;
	list-style: none;
}
*/
div .divider {
	border-bottom:1px solid #C1C157; 
	padding-bottom:0.5em; 
	margin-bottom:0.5em;
}

#activity{

 	line-height:18pt;
	font-size:.8em;
}

div.headingbox, h3.headingbox, a.headingbox{
	border:thin black solid;
	padding:.2em;
	background-color: #cccccc;
	text-decoration:none;
}


div.contentbox, input-form{
	margin-left:1em;
	border-left:thin black solid;
	border-right:thin black solid;
	border-bottom:thin black solid;
	padding:.5em;
	background-color: #eeeeee;
        overflow:hidden;
}

div.suggestions{
	border:1px solid #a50707;
	margin-left:10px; 
	width:50%;
}