
div#adobe_connect {
	border: 1px solid #ccc;
	padding: 10px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	background-color: #efefef;
	color: #444;
	margin-top: 30px;
	margin-bottom: 30px;
        text-align: center;
}
