/* IE specific styles */

ul#topnavlist li {
	*display: inline;
}
ul#topnavlist{
clear:both;	
	padding-top:1em;
}
#topnavlistcontainer{
	padding-top:.5em;
height:2.2em;	
}

label {
	zoom:100%;
	margin:0px;
}

table.data tfoot input {
	min-width:0px;
}
.outside_box{
	height:9.8em;
	padding:0.5em;
	margin-left:-1em;
}

.buttons input[type=submit]{
	padding:.3em;
	width:auto;
	overflow:visible;
}
div.home_box{
	width:25.5em;
	height:9.8em;
	margin-left:1.5em;
}

table.etabbed-table	{
	*table-layout:fixed;
	*margin-left:55px;
}

div#sub-navigation {
	margin-top:-1em;
	*height:1.8em;
}
div#sequence-links {

	*margin-top:1.6em;



}