/* for right to left languages */
html, body {
	direction: rtl;
}

/* required for mozilla browsers*/
.img-size-tree {
	vertical-align: middle;
	margin-top: 0px;
	height:1.45em;
	width:1.45em;
	text-align: right.;
	float: right;
}
div.box {
	line-height:150%;
}
div.menuedit{
	float:left;
}


.del-content-icon{
/* float:left; */
	  border:0;
}


#editable_table a{
margin-right:.5em;

}

.logoutbar{
text-align:left;

}

.fl-force-right{
float:left;
}

.buttonbox{
float:left;

}
div#breadcrumbs{

float:right;
}
ul.current_list li{
 width:90%;
}

.current_box{
width:34%;
}

.my_course_container{
width:55%;
}
#menutoggle{
float:left;
clear:left;
}


#content-tool-links{
float:right;
}