       <!-- Table of contents template -->
        <div id="toc">
            <ul rsf:id="level1s:">
                <li rsf:id="level1:item">
                    <a rsf:id="link" href="">1</a>
                </li>
                <ul rsf:id="level1:level2s">
                    <li rsf:id="level2:item">
                        <a rsf:id="link" href="">2</a>
                    </li>
                    <ul rsf:id="level2:level3s">
                        <li rsf:id="level3:item">
                            <a rsf:id="link" href="">3</a>
                        </li>
                        <ul rsf:id="level3:level4s">
                            <li rsf:id="level4:item">
                                <a rsf:id="link" href="">4</a>
                            </li>
                            <ul rsf:id="level4:level5s">
                                <li rsf:id="level5:item">
                                    <a rsf:id="link" href="">5</a>
                                </li>
                                <ul rsf:id="level5:level6s">
                                    <li rsf:id="level6:item">
                                        <a rsf:id="link" href="">6</a>
                                    </li>
                                </ul>
                            </ul>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </div>
