<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Google Search</name> 
    <description lang="en">Allows one to search Google and have the results displayed within ATutor.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.2</version> 
		<privileges>
			<instructor_privilege></instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2016-02-01</date> 
        <state>stable</state> 
        <notes>See the developers guide for details https://developers.google.com/web-search/docs/?hl=en.  This serch replaces the previous search that required a Google key to operate. As a result there are no admin config optiions, so the admin google search page has been removed from ATutor.</notes> 
    </release> 
</module>