/* Load the defaulted google search css */
@import url('http://www.google.com/uds/css/gsearch.css');  

/* Overwrite google defaulted form styles */ 
td {
vertical-align : top;
}
td.search-form {
width : 400px;
}
td.gsc-clear-button {
padding-left: 0px;
}
input.gsc-search-button {
	border: 1px solid #999;
	background-color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}
input.gsc-search-button:hover {
	background-color: #f5f5ff;
	border: 1px solid blue;
	cursor: pointer;
}

#results .header {
font-size : 16px;
font-weight : bold;
margin-bottom : .25em;
margin-top : 1em;
}
#results .gs-result {
  margin-bottom : .5em;
  margin-left: 1em;
  width: 600px;
}
#results div.gs-text-box{
	float: left;
}
#results div.gs-watermark {
display : none;
}

/* Styles for the tabbed menu */
#searcher table{
	margin-left: 5px;
	width: 500px;
}
#searcher div.selector{
  border-bottom: solid 1px #e9e9e9;
  margin-top: 0px;
}

/* Styles for buttons */
