/* for right to left languages */
html, body {
	direction: rtl;
}

.img-size-tree {
	vertical-align: middle;
	margin-top: 0px;
	height:1.45em;
	width:1.45em;
	float: right;
}

div.box {
	line-height:150%;
}
div.menuedit{
	float:left;
}


.del-content-icon{
/* float:left; */
	  border:0;
}


#editable_table a{
margin-right:.5em;

}

.logoutbar{
text-align:left;

}

.fl-force-right{
float:left;
}

.buttonbox{
float:left;

}
div#breadcrumbs{

float:right;
}
ul.current_list li{
 width:90%;
}

.current_box{
width:34%;
}

.my_course_container{
width:55%;
}
#menutoggle{
float:left;
clear:left;
}

#content-tool-links{
float:right;
}


.admin_container{
float:left;
white-space:normal;
}
.page-title{

margin-top:1em;
}

.top-tool{
width:95%;
}
.child-top-tool li{
white-space:normal;
overflow:visible;
}

#contentcolumn {
white-space:normal;

}
table.etabbed-table	{
	padding-right:5em;
	margin-right:5em;
}

table.data tfoot tr:first-child td {
	padding: 5px;
	background-image: url('images/arrow_rtl.gif');
	background-repeat: no-repeat;
	background-position: 99% 50%;
	margin-left: 40px;
}
table.data tfoot input{
	margin-right:2.2em;
}
div#sub-navigation{
	margin-top:.5em;
}
h2.page-title{
	*margin-top:.5em;
}
a#back-to {
	background-position: 100% 100%;
}
ul.etabbed-list{
	margin-right:5em;	
}
#subnavlist{
	margin-right:5em;	
}