<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Content Pages</name> 
    <description lang="en">Displays the course material via content pages, created and editable by the instructor.  Instructors and students are also able to export specific content pages. Statistics of which content pages students have viewed are also avaiable in "My Tracker".</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
		<privileges>
			<instructor_privilege>create</instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2005-08-25</date> 
        <state>stable</state> 
        <notes>This is a core module.</notes> 
    </release> 
</module>