div.openmeetings {
	background-color: #F8F8F8;
	border: 1px solid #666;
	padding: 1em;
	margin: 1em;
}

div.openmeetings ul{
	list-style: none;
	font-family: Verdana, Helevetica, Arial, sans-serif;
}

div.openmeetings h5{
	padding-top: 0;
	padding-bottom: 0.5em;
}

