/****************************************************************/
/* Modify this style sheet by entering your own values */
/* Here is a good CSS reference if you need help:      */
/* http://www.htmlhelp.com/reference/css/              */

/* main body attributes */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background: white;
	background-image: url();
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-size:small;	
}

/* heading attributes */
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: ;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 0px;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: ;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 0px;
}

/* paragraph attributes */
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
}

/*  Table of content attributes*/
p.toc{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #eeeeee;
	padding: .6em;
	margin-bottom: .6em;
	margin-top: 0em;
	margin-left: 1em;
	margin-right: 3em;
	border: 1px #98AAB1 solid;
	font-size:small;
} 

th {
	background-color: #B8B8BC;
	color: black;
}

/* list attributes */
ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

/* link attributes */
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #384F89;
	text-decoration: underline;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #51286C;
	text-decoration: underline;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	text-decoration: underline;
}

.content {
	line-height:150%;
}

/* formfield attributes */
.formfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	border-top:  #003399  solid 1px;
	border-bottom: #003399 solid 1px;
	border-right: #003399 solid 1px;
	border-left: #003399 solid 1px;
}
.formfieldR {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	border-top:  #003399  solid 1px;
	border-bottom: #003399 solid 1px;
	border-right: #003399 solid 1px;
	border-left: #003399 solid 1px;
	text-align: right;
}
form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* align text to the left */
.left {
	text-align: left;
}

/* table rows */
td.row1, table.row1 { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: white;
	vertical-align: top;	
	padding: 3px;
}

td.cat, th.cat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url('images/cellpic1.gif');
	background-repeat: repeat-x;
	background-color:#D1D7DC; 
	height: 25px;
	text-align: center;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}

a.dropdown-title {
	color: white;
	font-weight: normal;
	text-decoration: none;
}


/* table border */
.tableborder {
	border: 1px #606060 solid;
}


/* main submit button */
.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	background-color: #EBEDF6;
	font-weight: bold;
	border-top:  #354A81  solid 1px;
	border-bottom: #354A81 solid 1px;
	border-right: #354A81 solid 1px;
	border-left: #354A81 solid 1px;	
}

/* small submit button at top */
.button2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #F8F8F8;
	font-size: 0.7em;
	border-top:  #354A81  solid 1px;
	border-bottom: #354A81  solid 1px;
	border-right: #354A81  solid 1px;
	border-left: #354A81  solid 1px;
}

/* various line breaks */
td.row2 { 
	background-color: #EAE9E9; 
	font-weight: normal;
	height: 1px;
}
td.row3 {
	background-color: #006699;
	font-weight: normal;
	height: 1px;
}
td.row4 {
	background-color: #f3f3f2;
	font-weight: normal;
	height: 1px;
}

/* the main table */
#maintable {
	background-color: #FFFFFF;
	border: 1px #98AAB1 solid;
}


/* date attributes */
small.date {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;	
	margin-bottom: 0px; 
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
	font-size: 0.7em;
}

/* page breakline */
hr {
	color: #98AAB1;
	background-color: white;
	height: 1px;
}

/* message box styles */

/* error box */
table.errbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FF0000;
}
tr.errbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FEF1F1;
	vertical-align:top;
}

/* help box */
table.hlpbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #006699;
}
tr.hlpbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #E5F0FD;
	vertical-align:top;
}

/* Editor box small */
.editorsmallbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #EEEEEE;
	padding: 2px;
	padding-right: 3px;
	border: 1px #99CCCC solid;
}

/* Editor box large */
.editorlargebox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #EEEEEE;
	margin-left:1em;
	padding-left: .2em;
	padding-right: .5em;
	padding-top: .5em;
	padding-bottom: .4em;
	border: 1px #99CCCC solid;
	font-size:small;
}

/* warning box */
table.wrnbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FF8400;
}
tr.wrnbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFF6ED;
	vertical-align:top;
}

/* feedback box */
table.fbkbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #30B626;
}
tr.fbkbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	background-color:#EBFDE9;
	vertical-align:top;
	font-size:110%;
}
select.dropdown {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F1F3F1;                            
}                                                             
.copy {
	font-family: Verdana, Arial, Helvetica, sans-serif;                                     
}   

/* AChat Styles  */
table.box2 {
	background-color: #FFFFFF;
	border-right: #006699 solid 1px;
	border-left: #006699 solid 1px;
}

table.box {
	background-color: #EFEFEF;
	border-right: #006699 solid 1px;
	border-left: #006699 solid 1px;
	border-top: #006699 solid 1px;
	border-bottom: #006699 solid 1px;
}

td.box2 {
	background-color: white; /* #DDF0FF; */
	padding-left: 1px;
	padding-right: 1px;
	font-weight: bold;
	border-left: #006699 solid 1px;
	font-size: smaller;
}

td.box1 {
	color: #FF0000;
	background-color: white;
	padding-left: 2px;
	padding-right: 2px;
}

body.chatbody{
	background-color: #FFFFEE;
	background-image: url('images/lines.v.2.gif');
}

.current_tran  {
  font-family : Arial, Helvetica, Arial Cyr, Arial Ua, sans-serif;
  font-size : medium;
  color : black;
  background: #FFFF00;
  font-weight : bold;
  padding: 4px;
 }

.highlight, a.highlight {
	background-color: yellow;
}

/*public area*/
.cyan{
	background-color:#E3E3E8;
	color: black; 
	font-family: Verdana, Helvetica, sans-serif;
}
.cyan2{
 background-color:#E3E3E8;
 padding: 2px;
 color: black; 
 font-family: Verdana, Helvetica, sans-serif;
 text-align:center;
}

th.cyan{
 background-color:#E3E3E8;
 padding: 0px;
 color: black; 
 font-family: Verdana, Helvetica, sans-serif;
 text-align:left;
 font-weight: bold;
}
.cyan a:link{
 color: black;
 text-decoration: underline;
}
.cyan a:visited{
 color: black;
 text-decoration: underline;
}
.cyan a:hover{
 color: black;
 text-decoration: underline;
}

.center {
	text-align: center;
}

.header-bg {
	background-color: #DCE8F2;
}

/* new classes for the nav menu */
table.navmenu {
	background-color: #CFD3E9;
}
td.navmenu {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	color: black; 	
	font-size: small;	
	text-decoration:none;
}

td.navmenu a:link, td.navmenu a:visited{
	color: black;
	text-decoration: none;
}
td.navmenu.selected, td.navmenu a:hover {
	color: #3C92A9;
	text-decoration: none;
}

/* styles from stylesheet.css */
.bodyline {
	background-color: #FFFFFF;
	border: 1px #383636 solid;
}

#jumpmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F1F3F1;
	font-size: smaller;
}

#jump-button {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	background-color: #3C92A9;
	border-top:  #98AAB1  solid 1px;
	border-bottom: #98AAB1 solid 1px;
	border-right: #98AAB1 solid 1px;
	border-left: #98AAB1 solid 1px;	
	font-size: smaller;
	color: white;
}

#user-bar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #E7E3B1;
	text-align: center;
	padding: 3px;
	font-size: small;
}

td.usernavmenu {
	padding-left: 1px;
	padding-right: 1px;
	font-size: small;
}

#logout-user-nav {
	background: transparent url(images/logout.gif) 0 1px no-repeat;
	padding-left: 18px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #cccccc;
}
#preferences-user-nav {
	background: transparent url(images/prefs.gif) 0 1px no-repeat;
	padding-left: 18px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #cccccc;
}
#inbox-user-nav {
	background: transparent url(images/inbox.gif) 0 1px no-repeat;
	padding-left: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #cccccc;
}

/* breadcrumbs #006699 */
td.breadcrumbs	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #FAF9F9;
	padding-left: 10px;
	border-bottom: 1px #98AAB1 solid;
	font-size: 85%;
}

a.breadcrumbs, a.breadcrumbs:visited { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #464F88;
	text-decoration: none;  
}
a.breadcrumbs:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	text-decoration: none; 
}

td.navmenu.borderless {
	border-left: 0px;
	padding-right: 10px;
}
/* menu titles */
td.cat, th.cat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#FAF9F9; 
	text-align: center;
	white-space: nowrap;
	color:black;
	font-size:small;
	border-bottom:1px #98AAB1 solid;
	font-weight: normal;
}
td.cat2c {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url('images/cellpic1.gif');
	background-repeat: repeat;
	white-space: nowrap;
	text-align: center;

	border-left: 1px #98AAB1 solid;
}

table.cat2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#9C9DA6;
	font-size: small;
	text-align: center;
	border: 1px #98AAB1 solid;
}
table.cat3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: ;
}

#course-nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	text-align: center;
	text-decoration: none;
	border-bottom: 1px #98AAB1 solid;
} 

.course-nav-item {
	background-color: #FAF9F9;
	color: #464F88;
	text-align: center;
	font-size: 85%;
	padding: 3px;
	width:88px;
	border-top: 1px #98AAB1 solid;
	border-left: 1px #98AAB1 solid;
	border-right: 1px #98AAB1 solid;
	border-bottom: 1px #98AAB1 solid;
}
.course-nav-item.selected {
	border-bottom: 0px;
}
.course-nav-item a:link, .course-nav-item a:visited {
	color: #464F88;
	text-decoration: none;
}
.course-nav-item a:hover {
	color: #3C92A9;
	text-decoration: underline;
}
.course-nav-between {
	background-color: #DCE8F2;
	border-bottom: 1px #98AAB1 solid;
}

.admin-nav-item {
	background-color: white;
	color: #464F88;
	text-align: center;
	font-size: 85%;
	padding: 3px;
	width:128px;
	border-top: 1px #98AAB1 solid;
	border-left: 1px #98AAB1 solid;
	border-right: 1px #98AAB1 solid;
	border-bottom: 1px #98AAB1 solid;
}
.admin-nav-item.selected {
	border-bottom: 0px;
}
.admin-nav-item a:link, .admin-nav-item a:visited {
	color: #464F88;
	text-decoration: none;
}
.admin-nav-item a:hover {
	color: #3C92A9;
	text-decoration: underline;
}

.content_text {
	line-height:130%;
}

/* edit content tabs */
.buttontab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	font-weight: bold;
	/* font-size: 0.9em; */
	border: 0px;
	padding-left: 0px;
	color: #8799A0;
}

.etab {
	color: black;
	background-color: #ffffff;
	border-top: 1px #98AAB1 solid;
	border-left: 1px #98AAB1 solid;
	border-right: 1px #98AAB1 solid;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: small;
}

.etab a:link, .etab a:visited {
	color: black;
	text-decoration: none;
}
.etab a:hover {
	color: black;
	text-decoration: underline;
}
.etabself {
	background-color: #EFEFEF;
	border-top: 1px #98AAB1 solid;
	border-left: 1px  #98AAB1 solid;
	border-right: 1px #98AAB1 solid;
	text-align: center;
	font-weight: bold;
	padding: 2px;
	font-size: small;
}
.unsaved {
	color: red;
	background-color: #FFFDE0;
	margin: 10px;
	font-weight: bold;
	font-size:small;
}
.saved {
	background-color: #FFFDE0;
	margin: 10px;
	font-size:small;
}


/* the side menu */
/* the side menu heading #CFD3E9*/
td.dropdown-heading {
	background-color: #DCE8F2;
	color: black;
	border-left: 1px solid #7F7F7F;
	border-right: 1px solid #7F7F7F;
	border-top: 1px solid #7F7F7F;	
	font-size:85%;
	padding: 2px;
}

td.dropdown-heading a, td.dropdown-heading a:hover, td.dropdown-heading a:visited {
	text-decoration: none;
	color: black;
}

td.dropdown-heading.closed {
	border-bottom: 1px solid #7F7F7F;
}

/* the side menu content */
td.dropdown {
	padding: 2px;
	background-color: white;
	font-size: small;
	color: black;
	border-left: 1px solid #7F7F7F;
	border-right: 1px solid #7F7F7F;
	border-bottom: 1px solid #7F7F7F;
	font-weight: normal;
	font-size:normal;
}
td.dropdown a, td.dropdown a:visited  {
	color: black;
	font-size:85%;
	text-decoration: none;
}
td.dropdown a:hover {
	color: black;
	font-size:85%;
	text-decoration: underline;
}
td.dropdown.cell {
	border-bottom: 0px;
}
td.dropdown strong {
	color: #51286C;
}

td.login-box {
	background-color: white; 
	font-size: small;
	color: #006699;
	border-left:1px #CCCCCC solid;
	padding: 3px;
}

td.pen {
	background-color: #C9E0FD;
	color: black;
	border-left: 1px solid #006699;
	border-right: 1px solid #006699;
	border-top: 1px solid #006699;
	border-bottom: 1px solid #006699;
	font-size:85%;
	padding: 1px;
}
td.pen a:link, td.pen a:visited {
	color: black;
	text-decoration:none;
}

td.public-row { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: white;
	vertical-align: top;	
	padding: 3px;
	direction: ltr;
	font-size: small;
}
td.public-row2 {
	background-color: #FDE6D1;
	font-weight: normal;
	height: 1px;
	color: white;
}
p.public-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: small;
	line-height: 130%
}

/* editor pen large */
.menuimage11 {
	text-align: bottom;
	vertical-align: middle;
	margin-top: .3em;
	margin-bottom: .7em;
	border: 1px #98AAB1 solid;
	height:1.75em;
	width:2em;
}

.img {
	vertical-align: middle;
}

optgroup {
	font-size: smaller;
	font-weight: bold;
	font-style: normal;
}

.test-box {
	background-color: #DCE8F2;
	color: black;
	border-left: 1px solid #7F7F7F;
	border-right: 1px solid #7F7F7F;
	border-top: 1px solid #7F7F7F;	
	font-size:85%;
	padding: 2px;
}