div.input-form {
	width: 100%; 
	float:left;
	clear:left;
	margin-left:auto; 
	margin-right:auto;
	background-color:#FCFCFC;
	/*border: 1px #685642 solid; */
/*	border-top:1px solid #E5E5E5;*/
	border-bottom:1px solid #E5E5E5; 
	margin-bottom: 10px;
	line-height:120%;
/*    box-shadow: 0em .1em 0em #cccccc inset;*/

/*    -moz-box-shadow:.1em .1em .2em #999999;
    box-shadow: .1em .1em .2em #999999;*/
	padding:.2em 0 .2em .2em;

}

div.input-form div.row h3 {
	margin-left: 0px;
	margin-top:-.6em;
}

div.input-form div.row {
/*	background-color: #F4F0CB;*/
	padding:.2em;
}

/*<img> and <a> tags: on mouse hover the color of the background will keep the same!*/
div.input-form div.row img,a:hover{

}

div.input-form .footer {
	border-top: 1px solid #F9F6F2;
}

div.input-form p {
	margin-left: 0px;
}

div.input-form input {
	z-index: 2;
	border:1px solid #DADADA;
}
div.input-form input:focus {
	background-color:#FAF6D7;
}
}
div.input-form textarea {
	border: 1px solid #DED29E;
	width: 98%;
	*width:400px;
	padding: 2px;
	margin-right: 2px;
/*	font-size:100%;*/
}
textarea{
    height:12em;
    width:98%;
}
div.input-form input[type=text], div.input-form input[type=password] {
	border: 1px solid #DED29E;
	padding: 2px;
	max-width: 60%;
	background-color:white;
}
div.input-form input[type=text]:focus, div.input-form input[type=password]:focus {
	background-color:#FAF6D7;
}
div.input-form textarea:focus, div.input-form  input[type=password]:focus, div.input-form  input[type=text]:focus{
	border:1px solid #DED29E;
	padding: 2px;
}

input[type=checkbox]{
	background-color: #DED29E;
/*font-size:100%;*/

}

div.input-form div.buttons {
	/* text-align: right; */
	margin-left:1em;
	padding:8px;
}
div.input-form div.buttons input {
    border: 1px solid #AAAAAA;
    color: #000000;
}


div.input-form div.buttons input:hover, div.input-form div.buttons input:focus{
	background-color: #DADADA;
	color: #685642;
	
}

.formfield:focus{
	/*background-color: #FFDAB9;*/
}

#ot:focus{
	background-color: #FFDAB9;
}

/*Added by Silvia*/
div.input-form div.row_alternatives {
	background-color: #F4F0CB;
	padding: 5px;
}

/* new in ATutor 2.0 */
input[type=text]{
	border-radius:.3em;
	-moz-border-radius: .3em .3em .3em .3em;
/*	font-size:100%;*/
}
input[type=password]{
	border-radius:.3em;
	-moz-border-radius: .3em .3em .3em .3em;
/*	font-size:100%;*/
}

input[type=submit]{
	border-radius:.3em;
	-moz-border-radius: .3em .3em .3em .3em;
/*	font-size:100%;*/
}

input[type=reset]{
	border-radius:.3em;
	-moz-border-radius: .3em .3em .3em .3em;
/*	-moz-box-shadow:.2em .2em .3em #999999;
	box-shadow: .2em .2em .3em #999999;*/
}

div.input-form input[type=submit]{
	border-radius:.3em;
	-moz-border-radius: .3em .3em .3em .3em;
/*	-moz-box-shadow:.1em .1em .2em #999999;
	 box-shadow: .1em .1em .2em #999999;*/
/*	font-size:100%;*/
}
select{
	background-color:#E5E5E5;
	border:1px solid #DED29E;
	border-radius: .2em .2em .2em .2em;
	-moz-border-radius: .2em .2em .2em .2em;
/*	-moz-box-shadow:.2em .2em .3em #999999;
	box-shadow: .2em .2em .3em #999999;*/
/*	font-size:100%;*/
}
select:focus{
	background-color:#DED29E;

}
.test_instruction{
	background-color: #F4F0CB; 
	padding: 5px 10px; 
	margin: 0px; 
	border-top: 1px solid #DED29E;
}
.test_points{
	float: right; 
	width: 50%; 
	text-align: right; 
	font-weight: bold;
}

@media screen and (max-device-width: 640px) {
    input{
        font-size:1.2em !important;
    }
}
@media screen and (max-device-width: 1024px) {
    input{
        font-size:1em !important;
    }
}
