/* IE specific styles */
.page_wrapper{

    /* For IE 8 */    
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999')";
     /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999');

}



label {
	zoom:100%;
	margin:0px;
}

table.data tfoot input {
	min-width:0px;

}



#header{
	height: 5.0em;

}
ul#topnavlist{
margin:0;
}
div#top-links{
	float:right;
}

div#top-links a:active{
	color:black;

}

.outside_box{
	height:9.6em;
}


ul#subnavlist li{
	*display: inline;
	margin-right:.5em;
	margin-bottom:-.1em;
	height:.9em;

}

ul#subnavlist li a:hover, ul#subnavlist li a:focus, ul#subnavlist li.active, ul#subnavlist li:hover{
  	color: black;
	text-decoration:none;

}

fieldset.group_form{
	padding:.5em;
	padding-bottom:2em;
	min-height:150px;
}

table.etabbed-table	{
	*table-layout:fixed;
	*margin-left:35px;
}
.tab-spacer{
	*width:10px;
}
.editor_tab{
	zoom:100%;
	*width:auto;	
	*display: inline-block;
	*clear: left;
	*padding: 0 30px 0 5px;
}
.editor_buttontab {
	zoom:100%;
	clear:both;
	padding-right:1em;
}

.editor_tab_selected{
	*width:auto;
}

.etabbed-list-container{
	*height:1.9em;
}
.etabbed-list{
	*height:1.8em;
	*padding-top:.4em;
}



ul.folders {
	list-style: disc url(../../images/folder.gif) outside;
	font-family: Verdana, Helevetica, Arial, sans-serif;
	margin-bottom: 5em;;
	margin-top: 0px;
	margin-right: 0px;
}

li.folders .disabled {
	color: #B8AE9C;
}

.current_box{
	width:30%; 
	float:left;
	margin-left:3em;

}

ul.current_list{
      line-height:2em; 
      list-style-type:none;
      margin-left:0;
}

#top-links-jump{
	background-color:#eeeeee;
	padding-right:.5em;

}
div#top-links {
	white-space:nowrap;
	width:40%;
	float:right;
	clear:right;
	height:1.7em;
	padding-right: 5px;
	margin-right:20px;
	margin-top:1.1em;
}
#course_title_container{
	margin-top:-2em;
	*margin-top:-1em;
}
h1#section-title {
	margin-top:.5em;
	
}
div#guide_box{
	*width:12%;

}
#shortcuts{
	*width:12%;
}
#side-menu ul{
	width:18em;
	padding-left:1em;
	padding-right:2em;
}
#section-title{
    margin-top:.2em;
}
/* the * prefix targets IE7, dangerous hack but necessary */
/* to target IE6 use _ and to target IE8 and below use a trailing \9 before the style's closing semicolon */
.fl-force-right{
	*margin-top:-1.2em;
}
#contentcolumn {
	overflow:auto;
}

.logoutbar{
	margin-bottom:-1.5em;	
	margin-top:1.2em;
}
textarea#body_text{
	*width:600px;
}
#lrg_topnav{
margin-bottom:-1em;
}
.ui-switch-handle{
height:2em !important;
width:2em !important;
}
div.search_bar .s_img{	
	margin-top: -1.4em\9; /* the \9 to accomodate IE 7&8 */
}
.fl-reorderer-avatar {
	filter: alpha(opacity=60);
}