<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">Student Tools</name> 
    <description lang="en">Allows instructors to set which course tools will be available to students on the home page and/or coruse navigation.  Instructors can also select which available side menu items will be shown for the course.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>GPL</license> 
	<release> 
        <version>0.1</version> 
		<privileges>
			<instructor_privilege>existing</instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2005-08-25</date> 
        <state>stable</state> 
        <notes>This is a core module.</notes> 
    </release> 
</module>